[2019-10-31 09:16] bjornharrtell commented on #1152
I've used TelemetryConfiguration.Active to programmatically configure the configuration used with Microsoft.ApplicationInsights.NLogTarget. From the above information, it's not clear to me what the rewrite strategy should be in the case of Microsoft.ApplicationInsights.NLogTarget.

[2019-11-01 01:38] cijothomas commented on #936
The pre-aggregating metric API, does not respect anything on telemetryclient, which is by design. I have digged into this bit more while working on a similar issue reported in another channel. This was reported by several customers now.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1228#issuecomment-542360416

We are treating this as a documentation issue, and not product bug.  Do

[2019-11-01 01:39] Dmitry-Matveev commented on #1271
Adding exceptions to ILogger was just following the trend of every other AI logging solution and customers were well educated on this, therefore no issue.

Adding exceptions for the first time was just as controversial as adding events today. That's why I mentioned that in general if we move cautiously with opt-in in mind and clear documentation + we have a scenario we're trying to address rather

[2019-11-01 01:40] cijothomas commented on #936
The right way to set instrumentation key is to set on TelemetryConfiguration
// The below doesn't work.
AIClient = new TelemetryClient();
AIClient.InstrumentationKey = appInsightsKey;

 // the below does work.
var config = TelemetryConfiguration.CreateDefault();
config.InstrumentationKey = appInsightsKey;
AIClient = new TelemetryClient(config);

AIClient.getmetric().Track()...

[2019-11-01 01:40] #936 closed

[2019-11-01 01:41] cijothomas commented on #1228
tracking docs issue here: https://github.com/MicrosoftDocs/azure-docs/issues/40231
closing this, as I believe the questions are answered. Please reopen if not.

[2019-11-01 01:41] #1228 closed

[2019-11-02 22:23] DavidParks8 opened #1279 "Add cloud location to telemetry context"
AzureInstanceComputeMetadata has a location field which my team is very interested in sending as a dimension in every metric and trace. Are there any objections to adding a field with that value somewhere in the TelemetryContext?

[2019-11-04 10:00] pksorensen commented on #973
This is an older post, what version does Functions SDK 1.0.29 use? I dont know which version to downgrade to.

[2019-11-04 17:20] nhart12 opened #1280 "Log request body in Azure Functions"
Same as this issue
https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/940

The recommended workaround was to use a custom middleware as a workaround as the ITelemetryInitializer was now only being called once at the end of the request when the requestbody stream was already disposed.
I am however using an Azure function, is there a way to accomplish the same but in an azure functio

[2019-11-04 18:31] cijothomas commented on #1280
Any chance you can log the request body using ilogger and have applicationinsights capture the log?

[2019-11-04 18:50] cijothomas commented on #1279
You can store it in custom properties now itself, without requiring any change in application insights sdk.

[2019-11-04 19:03] nhart12 commented on #1280
Yeah that's what the workaround is currently, would be nice to log requests also when the azure function bindings fail, 401's, etc

[2019-11-04 21:26] ctolkien commented on #1270
Hi @cijothomas  - I recognise this isn't an issue in AppInsights directly, but net result is this is slowing our devs down, so we're yanking AI out.

[2019-11-04 21:43] cijothomas commented on #1280
We are tracking a work item for likely 2020 execution - https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/13949925-add-support-for-viewing-raw-body-requests
Until then Ilogger workaround is the only option :(

[2019-11-04 22:02] brotacel opened #1281 "UseAdaptiveSampling with excludeTypes: Exception doesn't always work"
Sometimes uncaught exceptions from a netcore 2.2 WebApi seem to be sampled out. Not all expected error logs can be found in Azure Portal -> Application Insights -> Failed requests.
Using Serilog ApplicationInsights sink, and the following configuration:

In `Startup->Configure`:
[code]

In `Startup->ConfigureServices`:
[code]

In `Program->Main` a Serilog sink is configured:
[code]

Packages:
[cod

[2019-11-04 22:21] cijothomas opened #1282 "Possible breaking change in ApplicationInsightsServiceOptions in 2.12"
The followed introduced a new way to Disable any of the built-in telemetry modules.
https://github.com/microsoft/ApplicationInsights-aspnetcore/pull/990

Addressed this:https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/988

This _may_ be considered breaking change, as the old way of removing telemetry modules will no longer work. Keeping an issue open to support the new api, witho

[2019-11-06 12:08] jim-paton opened #1287 "Adding package causes MSB3277 warnings in associated project"
Adding the `Microsoft.ApplicationInsights.AspNetCore` package to a .net core 2.2 web application causes MSB3277 warnings in a Unit Test project that references that web application.

[code]

Steps to reproduce:

1. Create a new .net core 2.2. Web Application project in Visual Studio 2019.
2. Add the `Microsoft.ApplicationInsights.AspNetCore` package.
3. Add a new unit test project and reference th

[2019-11-06 13:59] jim-paton commented on #1287
Apologies - I was able to recreate this, and now I can't. Obviously some crazy transient thing.

[2019-11-06 14:28] jim-paton commented on #1287
Re-opening as I have managed to successfully recreate this on multiple developer machines.

[2019-11-06 14:36] jim-paton commented on #1287
Manually adding a package reference to `Microsoft.AspNetCore.App` in the Unit Test project file seems to solve the problem.

[2019-11-06 17:30] dylan-asos commented on #1208
@Dmitry-Matveev thanks for detailed response - yes, didn't consider the distributed services part of this as was looking at a service in isolation, can see that would be a challenging problem to address. :)

I do think that the ability to tweak and set different sampling rates for different conditions would be a powerful addition to the solution, allowing engineers to really fine tune the data the

[2019-11-07 16:29] spresnal opened #1294 "ExceptionTelemetry Unexpected Behavior"
Code that produces the error:

            ExceptionTelemetry telemetry = new ExceptionTelemetry();
            telemetry.Context.Operation.Id = inspectionId;
            telemetry.Context.Operation.Name = operationName;
            telemetry.SeverityLevel = level;
            telemetry.Message = message;
            telemetry.Exception = exception;
            _client.TrackException(telemetry);

[2019-11-07 17:32] cijothomas commented on #1294
Thanks for reporting!
Its not Message. Its Exception which clears context.
@SergeyKanzhelev Do you know if this is expected behavior?

[2019-11-07 21:01] cijothomas commented on #1281
This looks like Serilog is configured with TC.Active, but sample Processor is done on the TC retrieved from DI. They are different, hence Serilog logs wont respect.
Either use TC from DI always (recommended approach), or use TC.Active always.

Let us know if this helps

[2019-11-07 22:31] cijothomas commented on #1294
I'll tag this as a bug, as I cannot think of reason why setting Exception would intentionally clear context.

[2019-11-08 00:42] DavidParks8 commented on #1279
Yes, but the class which retrieves it is internal. I would rather not have to reimplement it.

[2019-11-08 18:27] brotacel commented on #1281
Thank you. It does help. I have a better understanding of the issue now.

However, I am not sure which is the correct approach of using Serilog with ApplicationInsights configured through dependency injection, while also being able to have early logging when application starts.
I have found 2 posts which seem to be related with this problem (configuring Serilog without using TelemetryConfiguration

[2019-11-12 12:26] GeeWee opened #1297 "Custom ConfigurationProviders are not respected"
I would like to keep my InstrumentationKey in a configuration file that's not `Appsettings.json` or `Appsettings.Development.json`, but rather something else. This is currently not possible out-of the box. An example:

[code]

I think the mistake is in `DefaultApplicationInsightsServiceConfigureOptions.cs`
on line 38, where no matter what, the configuration passed further only reads from `Appsetti

[2019-11-12 17:30] cijothomas commented on #1297
The default behaviour when using .AddApplicationInsightsTelemetry() is to read settings from appsettings.json only.

If you have your settings in a different place, then AddApplicationInsightsTelemetry(IConfiguration config), should be used. The instrumentation key should be in the order ApplicationInsights:Instrumentationkey inside the configuration.

Its not clear to me what do you meant by "exp

[2019-11-12 18:25] xavierdecoster opened #1298 "First heartbeat sent after 15 minutes instead of configured interval"
It appears that the very first heartbeat is sent after `15 minutes`, which is the default built-in heartbeat interval, even when a different interval is configured. Every other subsequent heartbeat will respect the configured interval.

SDK version used: `2.10.0`

Attached some code that reproduces the issue.

Expected behavior: heartbeats start after the very first minute (as configured)
Actual b

[2019-11-12 19:39] cijothomas commented on #1298
Its a bug/limitation as setting interval does not alter the current timer, which is triggered upon initialize.
https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/BASE/src/Microsoft.ApplicationInsights/Managed/Shared/Extensibility/Implementation/Tracing/HeartbeatProvider.cs#L91

Use the following workaround:
Basically, don't use .Active, instead create DiagnosticTelemetryModule by

[2019-11-13 07:46] GeeWee commented on #1297
Fair enough - I don't think that's very clear from the documentation.

You're right that it's a duplicate. Previously when passing the Configuration explicitly, I still wasn't able to register the InstrumentationKey, or so I thought - but I must have been mistaken, as it works when testing today.
Thanks for the help.

[2019-11-13 07:46] #1297 closed

[2019-11-13 17:26] cijothomas commented on #1297
Agree. The doc does not mention AddApplicationInsightsTelemetry(IConfiguration). The 1st phase was to have some doc at least, then improve it.
Will be improving docs with advanced options.

Thanks for your time.

[2019-11-14 11:57] NenoLoje opened #1304 "Question: Is it possible to set 'Browser version'"
From a **.NET Core CLI** app, it's easy to set context properties and, for example, set the operating system:

[code]

That data can be seen on the portal:

![ai-how-to-set-browser-version](https://user-images.githubusercontent.com/13981145/68855284-35013780-06de-11ea-8302-5e5e11a32006.png)

Is it also possible to set the "**Browser version**"?

Thanks!
--Neno

[2019-11-15 02:45] cijothomas commented on #1304
Dont think its possible in serverside sdk. It'd be a js/client sdk concept.

[2019-11-15 02:54] cijothomas commented on #407
InMemoryChannel is sync. Its the ServerTelemetryChannel which is not sync. It pushes items from in-memory queue to a Transmitor. The transmittor has its own queue of In-Flight transmissions, in-memory transmissions, in-disk transmissions - these are not flushed sync.

[2019-11-15 18:34] zakimaksyutov opened #1309 "Application Insights provides misleading picture by introducing fake "Execute request handler" requests"
My web site was completely down for some period of time but Application Insights made us think that some requests were succeeding (leading us to wrong theory, and delaying mitigation):

![image](https://user-images.githubusercontent.com/15914532/68966338-b1ede900-0792-11ea-8b6c-fc0068b89572.png)

After we opened web app view then it became clear that there were no successful requests during this t

[2019-11-15 18:42] lmolkova commented on #1309
We have removed 'Execute request handler' requests in AppInsights 2.11.0. They initially intend to workaround the correlation issue for POST requests https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/898 and they have their own limitations. The latest version solves the issue without introducing intermediate requests.

I'm closing this issue and there is no further action item. F

[2019-11-15 18:42] #1309 closed

[2019-11-16 07:01] zakimaksyutov commented on #1309
Upgraded to 2.11 and everything works as expected now! Thank you! =)

[2019-11-18 09:57] illay1994 opened #1316 "RouteData not setted in ASP core 3.0"
Look like in scope of Pull request microsoft/ApplicationInsights-aspnetcore#959 code have bug.

We read information about HttpContext from field httpContext now.
Look like we should read from field HttpContext.

[See here](https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/198c760e01172f76398c50f44b331f35a93c2325/src/Microsoft.ApplicationInsights.AspNetCore/DiagnosticListeners/Implem

[2019-11-18 17:38] cijothomas commented on #1233
2.12.0-beta2 shipped with the following pre-aggregated standard metrics:

"Server response time" with dimensions:
"Request.Success"
"cloud/roleInstance"
"cloud/roleName"
"request/resultCode"
"request/performanceBucket"
"operation/synthetic"

“Dependency duration” with dimensions:
"Dependency.Success"
"cloud/roleInstance"
"cloud/roleName"
"Dependency.Type"
"dependency/target"
"operation/synthetic"

[2019-11-18 17:59] mikhail-anfimau opened #1317 "Microsoft.Azure.EventHubs 4.1: events are not captured by DependencyCollector"
EventHub client library now sends shortened versions of the events (i.e. "Send.Start" instead of "Microsoft.Azure.EventHubs.Send.Start" expected by AI.DependencyCollector).

The change is made in the following [PR](https://github.com/Azure/azure-sdk-for-net/pull/7186/) and is available since Microsoft.Azure.EventHubs version 4.1 (see [diff](https://github.com/Azure/azure-sdk-for-net/pull/7186/file

[2019-11-18 18:32] illay1994 commented on #1316
@cijothomas Done

[2019-11-19 12:53] volthezz commented on #1219
@lmolkova, shouldn't this dependency be added to .nuspec?

[2019-11-19 13:23] xavierdecoster commented on #1298
@cijothomas does the call to `new TelemetryConfiguration("ikey")` still consider the `applicationinsights.config` file? Or should we rely on `TelemetryConfiguration.CreateDefault()` instead, and then set `TelemetryConfiguration.InstrumentationKey` on that instance?

[2019-11-19 20:18] ColeAtRecRoom opened #1320 "Azure Live Metrics "Sample Telemetry" stops working after rebuilding TelemetryConfiguration.DefaultTelemetrySink.TelemetryProcessorChainBuilder"
See [https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1190#issue-443549076](https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1190#issue-443549076) for original issue.

Original issue was with Microsoft.ApplicationInsights.AspNetCore 2.6.1 and .NET Core 2.2

### Actual Behavior
After calling `TelemetryConfiguration.DefaultTelemetrySink.TelemetryProcessorCha

[2019-11-20 13:15] JohnTube commented on #826
Another way not mentioned in the original post can be found [here](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/LOGGING/src/Log4NetAppender/ApplicationInsightsAppender.cs#L64):

`telemetryClient.Context.InstrumentationKey = instrumentationKey;`

which is the same as

`telemetryClient.InstrumentationKey = instrumentationKey;`

but more confusing!

[2019-11-21 22:10] #1317 closed

[2019-11-21 23:20] #1219 closed

[2019-11-22 02:39] ackava commented on #931
Problem is with Microsoft Monitoring Agent, it installs profiler and AI cannot install new profiler to monitor sql queries.

Removing this agent makes sql queries appear but after server is restarted or vm is reprovisioned, Azure installs Microsoft Monitoring Agent again.

This issue with workaround was reported on this thread but no work was done, https://github.com/microsoft/ApplicationInsights-

[2019-11-25 01:46] richardszalay opened #1325 "`ILogger.LogError(Exception, string)` results in incorrect exception message in AppInsights"
[code]

Steps to reproduce:
1. Setup a basic ASP.NET Core application
2. Configure AI using `services.AddLogging(c => c.AddApplicationInsights())`
3. Throw an Exception with the message "Actual exception message"
4. Catch the exception and log it to an injected `ILogger` using `logger.LogError(ex, "Contextual message")`
5. Review the exception in AI

Expected:

Both "Contextual message" and "Actua

[2019-11-25 07:11] #1316 closed

[2019-11-25 10:01] OskarKlintrot opened #1326 "feature request: Make RemoteDependencyConstants public"
It would be helpful to be able to use [`RemoteDependencyConstants`](https://github.com/microsoft/ApplicationInsights-dotnet/blob/master/WEB/Src/DependencyCollector/Shared/Implementation/RemoteDependencyConstants.cs) together with `TryGetOperationDetail` instead of just using strings (`dependency.TryGetOperationDetail(RemoteDependencyConstants.HttpResponseOperationDetailName, out var responseObject

[2019-11-25 15:17] cijothomas commented on #1326
@OskarKlintrot We are in the process of merging repos. Issues from other repos will be migrated to this repo.
I fully agree with the suggestions.

[2019-11-25 15:23] cijothomas commented on #1325
@richardszalay Can you use the latest (2.11.0) of the package and see if this is an issue?

[2019-11-25 15:24] cijothomas commented on #1325
There was this change: https://github.com/Microsoft/ApplicationInsights-dotnet-logging/pull/282

[2019-11-25 18:33] cijothomas commented on #1298
new TelemetryConfiguration("ikey") wont consider ai.config.

[2019-11-25 21:19] TimothyMothra opened #1328 "AI (Internal): Unknown error, message System.UriFormatException: Invalid URI: The hostname could not be parsed."
**Error:**

**Source:**
https://github.com/microsoft/ApplicationInsights-dotnet/blob/35e4bb2624bcbe2af9fb5d1e724b28ffd49c460c/WEB/Src/Common/RequestTrackingUtilities.cs#L20-L30

The getter for the Unvalidated Url is failing to parse and create a Uri object.
Should we wrap this in a try/catch and ignore the Exception?

**Internal Call Stack:**
https://referencesource.microsoft.com/#System.Web/Unval

[2019-11-26 11:23] lindgrend opened #1330 "Can't read request telemetry in unit test"
Hello,

We are adding tests for a middle-ware that will output request and response bodies when requests fails. Our approach was to fake the TelemetryChannel which we found working examples of. Now this logs the TraceTelemetry just fine but not the RequestTelemetry (Well technically it does but after the test has passed the assertion). We tried flushing the TelemetryClient but that didn't seem to

[2019-11-26 15:28] cijothomas commented on #1330
While a repro is great, I am not sure what is the issue you are facing. Please describe the issue you are facing in terms of whats expected vs whats actual behavior.

[2019-11-26 23:27] #1328 closed

[2019-11-27 07:11] lindgrend commented on #1330
Expected: When the test is run and the assertion is executed, there should be a RequestTelemetry in the SentRequestTelemetries collection.

Actual: The TelemetryChannel.Send() with the expected RequestTelemetry is called after the test has executed the assertion hence the test fails.

Hope that this clears up what I meant.

[2019-11-27 15:53] xantari commented on #1152
This is causing a lot of confusion in logging frameworks like Serilog. We now don't have a way to catch early startup failures. See here: https://github.com/serilog/serilog-sinks-applicationinsights/issues/121

[2019-11-27 18:20] cijothomas commented on #1152
@xantari Could you open a new issue describing the issues with serilog intergrations?

[2019-11-27 21:51] TimothyMothra commented on #1260
for 2.12, I'm expanding ETW logs to report when an Instrumentation Key is missing or misconfigured.

for 2.13, I'm considering an Environment Variable driven "diagnostic mode" that would auto-inject our FileWritter that saves ETW events to text file.
This would be opt-in as needed and allow users to collect ETW traces that otherwise wouldn't be accessible.

[2019-11-28 15:23] SABARISHV06 opened #1332 "ApplicationInsight log traces creating memory dump"
We are using telemetry client & configuration in common class library and accessing across the application. Below is my code snippet

[code]
this is working fine & logging into app-insights. But on debugging the performance, we ran the memory dump in Azure app service and we could find lot of telemetry thread issues:

Below are the repeated error in memory dump analyzer:

Was this a buggee in the

[2019-11-28 16:45] SABARISHV06 commented on #1332
@cijothomas any help on this issue?

[2019-11-28 21:14] mxa0079 commented on #1214
Potential (actual) Risk: all the issues opened on the old repos are now archived, cannot be modified, and have not been migrated. Here is an example: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/176

[2019-11-28 21:15] mxa0079 opened #1333 "Make better names for Web API attributes based routing"
Full description here: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/176

[2019-12-02 12:24] dradoaica commented on #364
Same issues as @mark-janos (static or DI does not help). When using the "ApplicationInsights-aspnetcore" the behaviour is not reproducible

[2019-12-02 12:31] mark-janos commented on #364
@dradoaica in my case I reverted to using the instance of ILogger that's passed into the Function (as per the example posted by @cijothomas ).

[2019-12-02 14:36] pzbyszynski opened #1334 "Add ability to turn off SQL query logging for Azure Functions"
Just wanted to make sure this issue will not get lost during repo migration: https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/980

Inability to turn off SQL logging generates privacy & cost issues

[2019-12-02 18:46] lmolkova opened #1335 ".NET APIs reference documentation is out of date"
Documentation on https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.telemetryclient?view=azure-dotnet is out of date

e.g. it does not include TelemetryClientExtensions (StartOperation)

[2019-12-02 18:47] lmolkova opened #1336 "Integration with .NET Activity is not documented"
AppInsights heavily relies upon .NET System.Diagnostics.Activity for in-proc context propagation (correlaiton) and dependency tracking.

Integration and limitations (when to use Activity vs AppInsights APIs) need to be documented.

[2019-12-02 18:48] lmolkova commented on #1336
related: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1222

[2019-12-02 19:00] TimothyMothra commented on #1214
@mxa0079, We are aware of this issue and are not ignoring it.
Github does not provide any mechanism to bulk transfer issues from one repo to another.
My team and I have manually transferred what we thought were the top active issues.
We're still investigating how to bulk transfer the remaining issues.

Thank you for opening a new issue and referencing the former.

[2019-12-03 20:15] cijothomas commented on #1332
@SABARISHV06 What is the **issue** here? Is application insights crashing your app? or leaking memory? or something else?
I can see application insights threads - that's part of SDK.

[2019-12-04 06:38] SABARISHV06 commented on #1332
@cijothomas we are not facing any crash, but we are seeing memory leak in the memory dump analysis.
Error we got is thread is waiting in a WaitMultiple
ntdll!ZwWaitForMultipleObjects+c
KERNELBASE!WaitForMultipleObjectsEx+f0
clr!WaitForMultipleObjectsEx_SO_TOLERANT+3c
clr!Thread::DoAppropriateWaitWorker+237
clr!Thread::DoAppropriateWait+64
clr!WaitHandleNative::CorWaitOneNative+163
mscorlib_ni!Syst

[2019-12-04 08:31] GeeWee commented on #1336
Just chiming in to say that I've also spent hours trying to figure out the interactions here.

[2019-12-04 09:12] LukeRH opened #1337 "Nuget Package install failed to add ApplicationInsights.config"
Hi,
When i try to add app insights using the rhm option on a asp.net project i get the following error
Could not add Application Insights to project.

The nuget package install failed to add the ApplicationInsights.config

![image](https://user-images.githubusercontent.com/17493218/70129092-0b508600-1676-11ea-99e6-07c23970045a.png)

I have tried adding app insights to a brand new asp.net project a

[2019-12-04 11:09] GeeWee opened #1338 "Allow access to the operation id"
I'm doing some Serilog integration currently in ASP.NET Core 3, where it would be really nice to be able to access the current operation_id and operation_ParentId, to ship that off along with the traces sent to Application Insights. Particularly in a situation where we use `telemetryClient.StartOperation<RequestTelemetry>()`

An [earlier issue ](https://github.com/Microsoft/ApplicationInsights-asp

[2019-12-04 12:06] GeeWee opened #1339 "TelemetryClient.TrackTrace creates a new operation_parentId"
Consider the following example.

[code]

Results in this message in Application Insights:
[code]

And this operationId: `3a199ac57afe9548800bd166378be4bc` in the `operation_Id` column, which is fine. That matches the operationId reported from the `operationHolder`.

The operation_parentId however, does not match, and returns
`|3a199ac57afe9548800bd166378be4bc.d90e9f42fff8144b.`, where I would expe

[2019-12-04 15:38] cijothomas commented on #1332
This thread is part of normal operation. Transmitter sends telemetry once every 30 secs or once 500 items are buffered. Why do you think there is memory leak?

[2019-12-04 15:39] cijothomas commented on #1337
@TimothyMothra can you help?

[2019-12-04 15:42] cijothomas commented on #1339
var activity = new Activity("generateEvents");
This activity is not started - can you call activity.Start, and see if it matches your expectations? ( i havent fully understood your end goal, sorry so this may not help :( )

[2019-12-04 15:50] cijothomas commented on #1338
OperationId in application insights will be activity.traceid.
ParentId is $"|{activity.TraceId}.{activity.Parent.SpanId}" to maintain backward compatibility with old SDKs. I believe parentid will be replaced with just activity.parent.spanid in the future, when request.id,dependency.id will be made activity.current.spanid instead of the current "|traceid.spanid"

If you use the SDK with default set

[2019-12-04 19:20] TimothyMothra commented on #1337
@LukeRH what is the "rhm option"? Sorry, I'm not familiar with this name.

Can you please share the **name** and **version** of the specific package? This will help me

Addressing your question about logs, it's the nuget.exe that installs a package. You can try to install the package via command line and you might get more logs. I would be curious to see these logs myself.

[2019-12-04 21:09] lmolkova commented on #1338
@GeeWee you should always make sure you configure [OperationCorrelationTelemetryInititalizer](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/BASE/src/Microsoft.ApplicationInsights/Extensibility/OperationCorrelationTelemetryInitializer.cs) and never stamp operation_Id, parentId or id on your own.

`OperationCorrelationTelemetryInitializer` will make sure telemtery is initializ

[2019-12-04 22:25] jirikanda opened #1373 "CacheHelper.GetCounterValue performance tuning"
##  Actual Behavior
[code]

## Issue
* GetCounterValue method is called a lot of times.
* The method reads a value from an environment variable.
* There are only four environment variables.
* The value of an environment variable is stored to the cache under the key *name*.
* The reuse of the value is limited due the key *name*.

## Expected Behavior - cache key (high priority)
* It would be more e

[2019-12-04 22:26] ndreisg opened #1379 "Exclude WebSocket Requests from "slow response time" rules of SmartDetection"
Hi there,

my WebApp handles WebSocket requests as well as normal HTTP requests.
These days, I received some "slow response time" notification emails from AI for this WebApp.
The response time of WebSocket Requests is naturally very high (time between open and close handshake).

Is it possible to exclude WebSocket requests from SmartDetection, so that I only get notifications if the response times

[2019-12-04 23:03] MattGal opened #1453 "ApplicationInsightsTraceListener with Autoflush setting causes way too much network-dependent flushing"
This commit: https://github.com/microsoft/ApplicationInsights-dotnet-logging/commit/1a31e7b59954bb8f3f00a8855750205a3e36b709

... when combined with a System.Diagnostics.Trace configuration where Autoflush is set to true caused our service to Flush() on every Trace.Write* call, which rapidly made our Azure Cloud Service unusable.

We encountered this when upgrading from 2.4 to 2.10 version of the

[2019-12-04 23:04] davidmatson opened #1456 "TelemetryConfiguration is not disposed"
ILoggerProvider access TelemetryConfiguration through the service provider via IOptions rather than directly. As a result, the service provided does not have TelemetryConfiguration in its list of disposable items, and disposing the service provider does not dispose the telemetry configuration. (Assuming I'm reading all the code correctly.)

It appears that options are not intended to be disposable

[2019-12-04 23:06] RamjotSingh opened #1469 "Restructure ApplicationInsights nuget packages to scope them down a bit better"
Opening this for tracking. This is probably that needs to be looked as part of next major release for AI SDKs all up.

Discussion links
https://github.com/Microsoft/ApplicationInsights-dotnet-logging/pull/239#issuecomment-448083848
https://github.com/Microsoft/ApplicationInsights-dotnet-logging/pull/239#issuecomment-448086482
https://github.com/Microsoft/ApplicationInsights-dotnet-logging/pull/239

[2019-12-04 23:06] shaynemarriage opened #1473 "Would like ability to upload EventSource manifest to use keyword and task names to filter traces in App Insights"

[2019-12-05 07:05] Luokun2016 opened #1480 "Install package "Microsoft.ApplicationInsights V2.11.0" failed"
When I install "Microsoft.ApplicationInsights V2.11.0" using Nuget in VS2015.

Following error occures:
Failed to add reference. The package 'Microsoft.ApplicationInsights' tried to add a framework reference to 'System.Net.Http' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance.

[2019-12-05 07:32] GeeWee commented on #1338
That makes sense. The reason I'm asking about this, is because the [Serilog AI Sink](https://github.com/serilog/serilog-sinks-applicationinsights) doesn't seem to properly instrument the log calls with `operation_id` or `operation_parentid`, and I was hoping I could simply monkey-patch it in with a custom logging enricher.

However, what you're saying is that there's potentially something more fun

[2019-12-05 09:17] sajibcefalo commented on #1402
@TimothyMothra Do you know when the bug will be resolved?

[2019-12-05 09:20] LukeRH commented on #1337
Apologies i mean right hand mouse on the project in visual studio then add then application insights as prescribed by the documentation (https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-monitor-portal).

I tried installing using the package Microsoft.ApplicationInsights.Web (not sure if that is the correct one or not). It successfully adds the package but does not add files such as

[2019-12-05 09:20] LukeRH commented on #1337
PM> Install-Package Microsoft.ApplicationInsights.Web -ProjectName SPFServer
Restoring packages for C:\Repos\SDX\SPF\Server Projects\SPFServer\SPFServer.vbproj...
NU1608: Detected package version outside of dependency constraint: NEST 1.7.2 requires Newtonsoft.Json (>= 7.0.0 && < 9.0.0) but version Newtonsoft.Json 12.0.2 was resolved.
Committing restore...
Assets file has not changed. Skipping ass

[2019-12-05 15:38] GeeWee commented on #1339
I don't think I'm meant to start the activity, considering the method documentation says.
[code]
I have tried to both start the activity first, via `activity.Start()`, and use the `startOperation` that just takes in an `operationName` parameter, and both result in the same behaviour.

A little more on what I'm trying to do - this issue is related to #1338, where I'm trying to create an integration

[2019-12-05 16:04] lmolkova commented on #1339
Activity is created to track the request telemetry (with StartOperation). The trace telemetry, tracked in scope of request, becomes a child of the request telemetry, thus trace's parent matcher request's id (and contains Activity spanId).

As I mentioned in #1338, you do not need to change ids, just add `OperationCorrelationTelemetryInitializer` to your configuration and it will take care of all i

[2019-12-05 16:07] lmolkova commented on #1338
Looking into the sink, it seems it uses `TelemetryConfiguration.Active` which always has `OperationCorrelationTelemetryInitializer`. However, I might have missed something, or maybe Serilog sink overrides ids somehow. Can you post here example of ids you see with serilog?

[2019-12-05 16:16] joefeser opened #1481 "Microsoft.ApplicationInsights V2.11.0 References incorrect version of System.Diagnostics.DiagnosticSource.dll"
The package states for all targets that System.Diagnostics.DiagnosticSource (>= 4.6.0), but the manifest points to v4.0,4

As seen here: https://www.nuget.org/packages/Microsoft.ApplicationInsights/2.11.0

.NETFramework 4.5
System.Diagnostics.DiagnosticSource (>= 4.6.0)
.NETFramework 4.6
System.Diagnostics.DiagnosticSource (>= 4.6.0)
.NETStandard 1.3
System.Diagnostics.DiagnosticSource (>= 4.6.0)

[2019-12-05 17:35] gardnerjr commented on #1214
@TimothyMothra are you going to go through all the packages on nuget and update their source links?  for example: https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService still points to the "old" repos?

[2019-12-05 18:51] TimothyMothra commented on #1214
@gardnerjr I made this change already in the nuspec. That link you provided, the previous stable (2.8.2) was released from the old repo. The latest beta (2.12.0-beta4) is correctly linking to this repo. :)

I don't think I can retroactively update the links for older packages because that comes from the previously deployed nuspec, but i believe all the new releases should have the correct links.
P

[2019-12-05 20:31] lsuarez5280 opened #1482 "Dependency Tracking for Always Encrypted Connection in ASP.NET Core 2.2"
Hello. I wish I had more specifics around the limitations here, but I've had to transition to the [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient/) package in order to support Always Encrypted with my ASP.NET Core 2.2 application. This has the unfortunate effect of eliminating automatic wireup of SQL dependency tracking. I admit I don't fully know what events App

[2019-12-05 20:38] lmolkova commented on #1481
For the net461 project (p2) can you share your project file or ideally both projects?
- Does it use packagereference or old format?
- Do you have `System.Diagnostics.DiagnosticSource` referenced there directly?
- Can you share app.config and binding redirects?

I've tried to repro the issue and could not. Here is what I have

1. Class library

[code]

2.  Net 4.6.1 exe

[code]

3. App config
[code

[2019-12-05 21:09] lmolkova commented on #1482
Please start with https://github.com/dotnet/SqlClient. They should be able to share any behavior in  DiagnosticSource hooks that are affected by Always Encrypted mode.

This is the code AppInsights is hooked to: https://github.com/dotnet/SqlClient/blob/654933a0811ab30b843a20aff051b8d585238505/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlClientDiagnosticListenerExtensions.cs

[2019-12-05 21:12] lsuarez5280 commented on #1482
Thanks @lmolkova. I appreciate the pointers and will post back if I have further inquiries, along with a solution if I have one.

[2019-12-05 21:18] lsuarez5280 commented on #1482
Leaving a trackback to https://github.com/dotnet/SqlClient/issues/93 since it's related to this question.

[2019-12-05 21:30] TimothyMothra opened #1483 "Investigate Throttling locks"
I introduced `InterlockedThrottle` which is a lock-free helper class to throttle ETW events.

Another throttling class already exists `DiagnoisticsEventThrottling` which takes a lock on every ETW event. See `PortalDiagnosticsSender.Send()`.

Need to investigate if the latter can take a similar approach to my new class to avoid locks.

[2019-12-05 22:26] jake-webb-kibo commented on #342
@SergeyKanzhelev Your example of the stubbed telemetry channel involves using the TelemetryClient's constructor which is marked obsolete. Would be nice to have a mocked instance of TelemetryClient without all the compiler warnings that come with it today.

[2019-12-05 22:26] lsuarez5280 commented on #1482
There are a few problems that I can identify pretty readily:
[ProfilerSqlConnectionProcessing.cs](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/Src/DependencyCollector/Shared/Implementation/ProfilerSqlConnectionProcessing.cs) and [ProfilerSqlCommandProcessing.cs](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/Src/DependencyCollector/Shared/Imple

[2019-12-05 23:06] lsuarez5280 commented on #1482
@lmolkova Actually after reviewing [SqlClientDiagnosticSourceListener.cs](https://github.com/microsoft/ApplicationInsights-dotnet/blob/89d3d6398301435361f7749222ef987c443c12d8/WEB/Src/DependencyCollector/Shared/Implementation/SqlClientDiagnostics/SqlClientDiagnosticSourceListener.cs) on the latest beta release, this library appears to be supported, so please disregard this issue. I'll close for no

[2019-12-05 23:06] #1482 closed

[2019-12-05 23:22] TimothyMothra commented on #1402
Hi @sajibcefalo, someone is looking into this, but I don't have an update or timeline to share.
I wanted to reply so you know we're not ignoring this, and I'm trying to get you a substantive answer.

[2019-12-05 23:33] yarajpal opened #1484 "Custom Telemetry not Logging"
Hi,

I am using application insights for logging to Geneva using Microsoft.ApplicationInsights.AspNetCore nuget package.

1. Used Dependency Injection to configure Telemetry Configuration.
2. Used Geneva Agent Channel.

I can see the logs for Application Insights SDKs incoming HTTP requests(Request Telemetry) , but I can't see my custom trace logs within the incoming request.

The strange thing is

[2019-12-06 01:00] lmolkova commented on #1484
Please post your configuration code  here: both how you initialize via DI and also how you initialize `TelemetryClient` for custom telemetry.

Repro app should be also very helpful.

Since you are not seeing custom logs from deployed app only, you might need to check
-  your MA config on the service and see if you properly configured OneDsProviders
- instrumentation key you supply to channel on th

[2019-12-06 01:09] TimothyMothra commented on #1337
Hey @LukeRH,
You're correct, that's the right package to use.

Can you please run the same command with the `-Verbose` flag?
I just tested that locally and confirmed that it reports if it was able to copy the config file. I'm hoping this will catch what error happening in your case.

[2019-12-06 01:51] yarajpal commented on #1484
[code]
For custom telemetry I have created one TelemetryClient to be used in entire code as follows
TelemetryClient telemetryClient = new TelemetryClient(configuration);
(The configuration is the same the config from the DI).

[code]

- I checked my MA config , its configured correctly.
- I verified the instrumentation key too.
- Also if I am not using dependency injection , then I can see the cus

[2019-12-06 02:01] lmolkova commented on #1484
What is the intention behind `public static void InitializeTelemetryConfiguration(TelemetryConfiguration telemetryConfiguration, IGenevaTelemetryConfiguration genevaTelemetryConfiguration)`  this method?

Where do you get your `genevaTelemetryConfiguration` from ?
Why do you need to copy certain properties from it?
How do you create telemetry client - do you use `TelemetryConfiguration` from this

[2019-12-06 02:13] yarajpal commented on #1484
- The intention behind using the InitializeTelemetryConfiguration method is to have a common method to set the values for Instrumentation key, Metric account name and namespace. We are using this common method for our worker service too.
-  genevaTelemetryConfiguration just gives us the values for MetricAccountName, MetricNamespace ,and Instrumentationkey.
- The TelemetryConfiguration that we pass

[2019-12-06 03:00] lmolkova commented on #1484
Ok, so you do not create another instance of TelemetryConfiguration. Good.
How do you initialize TelemteryClient (that one that you use to TrackTrace)?

It feels like `InitializeTelemetryConfiguration ` method should be reduced to GenevaMetricsProcessor configuration. Things like `TelemetryConfiguration.InstrumentationKey = genevaTelemetryConfiguration.InstrumentationKey` are questionable: if by c

[2019-12-06 03:36] cijothomas opened #1486 "Move Github templates to root folder."
Move all files like "\BASE\.github\ISSUE_TEMPLATE.md" to root -> ".github\ISSUE_TEMPLATE.md"". Only ones in root are recognized by Github.

[2019-12-06 03:37] cijothomas commented on #1486
@TimothyMothra Can you do this as merging of repos broke the Github templates.

[2019-12-06 03:39] cijothomas commented on #1204
@TimothyMothra would you have time to review this before we ship stable?

[2019-12-06 03:40] cijothomas commented on #1233
Closing this as the original requirements are met. We'll create new issue to track adding more user-defined dimensions.

[2019-12-06 03:40] #1233 closed

[2019-12-06 03:42] cijothomas commented on #1244
Closing this as DimensionCapping is enabled as an internal API, and is used by standard metric extractor. Will open a new issue for public facing API for the same

[2019-12-06 03:42] #1244 closed

[2019-12-06 03:44] cijothomas commented on #1186
@rafist Are you on asp.net core? then do the following to remove metric pre aggregator:
public void ConfigureServices(IServiceCollection services)
{
    Microsoft.ApplicationInsights.AspNetCore.Extensions.ApplicationInsightsServiceOptions aiOptions
                = new Microsoft.ApplicationInsights.AspNetCore.Extensions.ApplicationInsightsServiceOptions();
   // disable autocollected metric extra

[2019-12-06 03:44] cijothomas commented on #1186
moving to next milestone, as there are no cycles to investigate this.

[2019-12-06 03:45] cijothomas commented on #1255
Moving to next milestone as we have no bandwidth to address this in 2.12

[2019-12-06 03:46] cijothomas commented on #1260
Can we close this? as we now add ETW log?

[2019-12-06 03:46] cijothomas commented on #1260
We have this item tagged for next milestone to further improve the scenario: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1059

[2019-12-06 03:46] #1260 closed

[2019-12-06 06:48] GeeWee commented on #1338
Yes, let's try to explore the sink issue. Perhaps this is more of an issue over there - if we manage to resolve this, I'll make a PR over there.

While the documentation says to use Telemetry.Active, there's also a different constructor that people have been playing around with in [#121](https://github.com/serilog/serilog-sinks-applicationinsights/issues/121).
We're not sure TelemetryConfiguration

[2019-12-06 06:51] GeeWee commented on #1457
[Related issue in Serilog sink](https://github.com/serilog/serilog-sinks-applicationinsights/issues/121)

[2019-12-06 16:13] #1282 closed

[2019-12-06 16:41] cijothomas commented on #1085
@TimothyMothra reminder to look at this before we ship stable.

[2019-12-06 17:29] laszlozold commented on #1479
It seems like it got fixed in Version 2.5.0-beta2: https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/a135f1f7d9da7beb11f9bcf20a30f7e779b739f2/NETCORE/CHANGELOG.md

[2019-12-06 17:33] TimothyMothra commented on #1486
Sure, I can do this today

[2019-12-06 17:34] TimothyMothra commented on #1204
I don't think it's feasible to do this task in a day. I propose moving this to 2.13

[2019-12-06 17:36] #1221 closed

[2019-12-06 17:49] TimothyMothra commented on #1369
Cijo and I made some progress on this in November.
I'm closing this issue, with a promise that we will continue to monitor the builds.

[2019-12-06 17:49] #1369 closed

[2019-12-06 17:51] TimothyMothra commented on #1450
Duplicate

[2019-12-06 17:51] #1450 closed

[2019-12-06 17:52] TimothyMothra commented on #1397
Duplicate

[2019-12-06 17:52] #1397 closed

[2019-12-06 18:10] #1486 closed

[2019-12-06 18:30] lmolkova commented on #1338
Do not use Active if you can avoid it. AI SDK attempts to initialize it in the same way as one in DI, but any customization may lead to discrepancies. With logger adapters it's not always possible NOT to use it though.

This is the proper way to initialize `TelemteryClient`. What I'm mostly interested in is where `telemetryConfiguration` instance came from and how it was initialized. My guess is t

[2019-12-06 18:32] TimothyMothra commented on #1085
I'm reviewing this today and I haven't been able to reproduce this issue.

I worked on a fix for this back in February.
All the versions that were reported with this bug predate those fixes (released in AspNetCore v2.7).
I'm going to assume this is fixed now and close this issue.

If the author is still having issues, please comment and feel free to re-open.

[2019-12-06 18:32] #1085 closed

[2019-12-06 18:51] TimothyMothra commented on #1349
I looked at this briefly while working on repo consolidation.
This task in injecting an "english" tag into our xml documentation, I assume that this is for documentation localization support.
I'm surprised that there isn't first-party support for this feature.
Admittedly, this solution was implemented several years ago.
I need a day to investigate if there's been an update to this in the time sinc

[2019-12-06 18:55] TimothyMothra commented on #1381
Duplicate issue: #1085

This is no longer reproducible.
I'm closing this as fixed, but if you're still encountering issues with our latest SDK please comment.

[2019-12-06 18:55] #1381 closed

[2019-12-06 19:15] #1241 closed

[2019-12-06 19:31] Dmitry-Matveev commented on #1480
@joperezr, could it be caused by the fact that AI 2.11 references System.DiagnosticSource 4.6.0 that brings in System.Memory with Net Standard targets instead of .NET 4.6?

This looks similar to other cases where System.Net.Http was not found after installation of AI package but in reality the issue was in the wrong target?

[2019-12-06 19:59] TimothyMothra commented on #1402
I got a deeper explanation of what's going on here.
This behavior is a consequence of having multiple HttpModules.
Since we don't control the execution order, our SDK can log end-request traces before another module has completed it's handling of a request, which causes the discrepancy that you're seeing.

**The root cause here is that our sdk does not provide native support for OWIN.**
@Dmitry-Ma

[2019-12-06 22:01] snakefoot commented on #1483
This line:

`Interlocked.Exchange(ref this.timeStamp, now.Add(this.interval).Ticks);`

Should probably be a CompareExchange. So it becomes something like this:

[code]

Else two threads will be able to execute the same action, after they both agreed that the value from `Interlocked.Read` is too old.

[2019-12-09 11:38] LukeRH commented on #1337
[nuget.txt](https://github.com/microsoft/ApplicationInsights-dotnet/files/3939432/nuget.txt)
Hi,
I have attached the verbose logs, i do not see reference to the ApplicationInsights.config from within them.

Thanks
Luke

[2019-12-09 11:41] tcarabine opened #1491 "Javascript snippet does not include Sub Resource Integrity parameters"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  Add the Microsoft.ApplicationInsights.AspNetCore package to a web application
2. Follow the steps in https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#enable-client-side-telemetry-for-web-applications to add client side telemetery
3. Run the application and inspect the injected javas

[2019-12-09 18:41] TimothyMothra commented on #1491
@tcarabine, Thank you for your PR!
I'm reluctant to take this PR because our team does not own the "javascript snippet". We get updates from https://github.com/microsoft/ApplicationInsights-js and if I take your bug fix here, we'll lose it the next time we update.

@Markwolff can I transfer this issue to your repo?

[2019-12-09 19:11] joperezr commented on #1480
mm not exactly, basically the App Insights nuspec specifies that if the package gets restored targetting net45 or net46, then there should be a frameworkReference element added for System.Net.Http which is expected to be installed on the machine. We would need more info in order to better diagnose this. Ideally we would have a repro project (to be able to check which version of .NET the project is

[2019-12-09 19:16] markwolff commented on #1491
Hi @tcarabine we do not include any SRI in the snippet because we update the underlying file on the CDN to enable auto updating. You can welcome to include it for your own implementation, but it will likely break when we roll out updates. To get around this, you can modify the url to the CDN in the snippet to a hardcoded version, e.g. locate `ai.0.js` in the snippet and change it to `ai.1.0.20.0.j

[2019-12-09 19:26] TimothyMothra commented on #1491
I'm closing this issue.

if you still have questions, feel free to reopen.

[2019-12-09 19:26] #1491 closed

[2019-12-09 19:35] joefeser commented on #1481
@lmolkova I will create a repo in a few days to reproduce the error. Thank you.

[2019-12-09 23:27] lmolkova opened #1493 "Exceptions are not correlated to requests in some cases"
## Repro steps

0. Create WebAPI or MVC ASP.NET app
1. Configure customerErrors=off
2. Throw exception in controller/view
3. Send request with Request-Id header with W3C-compatible value like `Request-Id: |1234db4ce72f482698722d4f51beb518.0`

## Expected
Exception and request telemetries are reported. Exception is correlated to request

## Actual
Exception and request telemetries are reported. Exc

[2019-12-10 07:40] OsmondJiang opened #1496 "how to change the default value "100 different values per dimension“ to large number"
Below are the example provided by Application Insight Document:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics

[code]

How can we change the default value **100 different values per dimension**? Where is that document said in the comment "We discuss elsewhere how to change them"?

Thanks a lot!

[2019-12-10 19:17] TimothyMothra commented on #1496
@cijothomas is this one of your docs?

[2019-12-10 22:40] eddynaka opened #1497 "Collecting Performance Counter by ApplicationInsights.config"
I'm collecting performance counter by adding new counters in the ApplicationInsights.config like this:
[code]

Right now, I couldn't find a way to save those counters based on the correct category / name. Tried to add the ReportAs property with the category but it is saving exactly the same as I'm adding in the XML.

Is it possible to save the correct category and name of the counter?

## Version

[2019-12-10 23:25] eddynaka commented on #1476
Hi,

I started to take this issue and i have some questions:

Below the code that i wrote based on TelemetryClient:

[code]

1. TelemetryConfiguration is complaining about CLSCompliant, it is located in the Microsoft.ApplicationInsights. Should I add the tag in the class or in the AssemblyInfo.cs?
2. Based on the validation that we already have in TelemetryClient, that would be enough?

Thanks

[2019-12-10 23:55] lmolkova commented on #1476
ApplicationInsights is not CLS compliant because it depends on System.Diagnostics.DiagnosticSource which is not CLS compliant. This cannot be easily changed.

Also, the typical way to initialize TraceListener is through [config file](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/how-to-create-and-initialize-trace-listeners#to-create-and-use-a-trace-listener-by-using-a-confi

[2019-12-11 08:05] lmolkova commented on #1484
Here is the test app configured in a similar way to send auto-collected ASP.NET Core telemetry to Geneva + custom trace telemetry.  [trace telemetry and requests.zip](https://github.com/microsoft/ApplicationInsights-dotnet/files/3949083/trace.telemetry.and.reuqests.zip). Hope it helps.

[2019-12-11 08:06] leeds55 commented on #1214
Would this be the right place to raise any upgrade issues with the dotnet Application Insights assemblies? I have a project originally written against version 2.3.0, which I'm now trying to update to build against version 2.12.0, and whilst it builds successfully, at runtime, it encounters a _MissingMethodException_:`Method not found: 'Void Microsoft.ApplicationInsights.Extensibility.PerfCounterCo

[2019-12-11 11:40] SABARISHV06 commented on #1332
@cijothomas thanks for the clarification, but still i am not clear why the below threads are been created,

Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse.QuickPulseTelemetryModule.StateThreadWorker(System.Threading.CancellationToken)+50a
Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.Implementation.QuickPulse.Helpers.QuickPulseThreadModuleScheduler+S

[2019-12-11 18:59] TimothyMothra commented on #1214
@leeds55 This is the correct repo, but please open a new issue. This issue is specifically to coordinate the status of the our repo consolidation.

[2019-12-12 01:50] OsmondJiang commented on #1496
@TimothyMothra , @cijothomas  any updates?

[2019-12-12 03:04] cijothomas commented on #1497
Can you elaborate this statement **"I couldn't find a way to save those counters based on the correct category / name."** ? I am not sure I understand the problem you are reporting.

[2019-12-12 03:15] cijothomas commented on #1496
There is an overload of GetMetric() which can take MetricConfiguration
[code]

You construct MetricConfiguration using one of its constructors like below, which takes overall series limit, per dimension limit, and MetricSeriesConfig, which can take new `MetricSeriesConfigurationForMeasurement(restrictToUInt32Values: false)`

[code]

Overall the following shows how to customize dim limits:
[code]

[2019-12-12 03:18] OsmondJiang commented on #1496
@cijothomas  great to know, thanks a lot!

[2019-12-12 03:35] cijothomas commented on #1332
Like in mentioned earlier, those threads you see are part of normal SDK operation. I don't see any "leak" here. (If the # of threads like this is increasing over time to 10 or 100s - then I can understand its a leak)

Channel does not create threads per 500 items. Just once.
(I can't tell for sure why are you seeing 2 Runners - most likely one channel was created and not disposed)

[2019-12-12 03:37] cijothomas commented on #747
Closing this for now as there is no action required now. Most of the unstable tests got fixed over last few months.

[2019-12-12 03:37] #747 closed

[2019-12-12 03:42] SABARISHV06 commented on #1332
@cijothomas Do you know how to dispose the channel? any references would be highly helpful

[2019-12-12 04:18] cijothomas commented on #1332
channel implements `IDisposable` so you can just call `Dispose`.
However, I don't think that extra channel lying around is causing the perf issues.

[2019-12-12 04:44] cijothomas opened #1500 "Ability to turn off Request collection for static files"
Create a new Asp.net core Web Application and make a request to any page.
Several RequestTelemetry items are auto-collected, with one corresponding to the main Request, and others for static contents like .css/.js files. (See screenshot below)
![image](https://user-images.githubusercontent.com/5232798/70683173-1b5bfd00-1c56-11ea-9a89-18d3b342756b.png)

Proposal:
1. Add a new option to RequestTrack

[2019-12-12 07:11] eddynaka commented on #1497
Hi cijo,

When I added those line as pointed, it saved in log analytics exactly as
shown in reportAs property.

Each line in performance counters table has category and name. For those
that I added manually, the category = name = reportAs.

What I want to know is: based on a counter that exists (network interface \
bytes total / sec), is it possible to save the correct category and name?

Thanks!

[2019-12-12 07:16] eddynaka commented on #1476
Hi @lmolkova , I assumed it was applicationinsightsTraceListener based on the link in the original PR. Was that right?

For question one that I made, how should I proceed in make CLSCompliant?

Thanks.

[2019-12-12 10:00] eddynaka commented on #1497
Hi Cijo,

below an image showing what I'm saying:
![image](https://user-images.githubusercontent.com/16199012/70702536-05c5f200-1cad-11ea-8fdc-f560dd5f8531.png)

[2019-12-12 10:35] leeds55 opened #1501 "MissingMethodException updating from v2.3.0 to v2.12.0"
I have a project originally written against version 2.3.0, which I'm now trying to update to use version 2.12.0, and whilst it builds successfully, at runtime, it encounters a _MissingMethodException_:`Method not found: 'Void Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse.QuickPulseTelemetryProcessor..ctor(Microsoft.ApplicationInsights.Extensibility.ITelemetryProcessor

[2019-12-12 16:59] lmolkova commented on #1476
Right, I also mean `ApplicationInsightsTraceListener`.

One of the popular ways to configure such listeners is through the config file. I **guess** it means that it has to have a parameterless constructor. As a part of this work, we need to understand how this scenario works and make sure still works.

Regarding CLS compliance: we need to find out how it should work assuming there are other APIs a

[2019-12-12 17:05] eddynaka commented on #1476
Hi @lmolkova ,

today we already have two constructors:

[code]

So, i was adding a constructor with `TelemetryConfiguration` parameter.

About the investigation, can I help with that?

Thanks.

[2019-12-12 17:12] lmolkova commented on #1476
ok, so if we have multiple constructors already, adding another one is fine.

Regarding CLS investigation - sure, please do it.

[2019-12-12 18:34] SergeyKanzhelev commented on #1497
Looks like a bug, So it seems that ReportAs property breaks the category name

Are you able to debug this in VS? Can you copy/paste event JSON that represent this counter from the debug output window?

[2019-12-12 18:55] eddynaka commented on #1497
@SergeyKanzhelev , below some examples:
[code]
[code]

[code]
[code]

Both are saving like the image that I pasted

[2019-12-12 18:57] SergeyKanzhelev commented on #1497
what Kusto shows for both cases?

[2019-12-12 18:59] eddynaka commented on #1497
![image](https://user-images.githubusercontent.com/16199012/70740663-5f9fd980-1cf8-11ea-8122-3f0db7878d1f.png)

[2019-12-12 19:59] TimothyMothra commented on #1501
Hello, thank you very much for your thorough investigation. This will help us investigate this.
It's possible that someone changed the method signature but at a casual glance, they don't appear to have changed.

https://github.com/microsoft/ApplicationInsights-dotnet/blob/35e4bb2624bcbe2af9fb5d1e724b28ffd49c460c/WEB/Src/PerformanceCollector/Perf.Shared/QuickPulseTelemetryModule.cs#L80

https://git

[2019-12-12 20:19] SergeyKanzhelev commented on #1497
hey, I don't think screenshot match those events looking at timestamps

[2019-12-12 20:34] eddynaka commented on #1497
Just to simplify, let me rephrase the problem and expectation:

**Description of the bug**: when you configure a custom counter to be collected (for example, Network Interface\Bytes Total/Sec), the category and name maintain the same value.

**What I was expecting**: adding a counter from Windows, I would like to category = “Network Interface” and name = “Bytes Total/Sec” (for example).

![image](

[2019-12-13 20:41] cijothomas commented on #1497
This is done at the ingestion backend which parses name of the counter and separates category and name.
**But this is done only for the default list of counters, not on anything additionally added.**

[2019-12-14 02:32] eddynaka commented on #1497
Yeah, I imagined that. But, it's a question of mapping more counters, no? At least, the counters that exists in Windows should be mapped correctly (name and category). Or, we should be able to change that by some kind of configuration.

[2019-12-16 08:59] leeds55 commented on #1501
Timothy,

Thanks for confirming: the fact that I was able to build the application
left me pretty positive that the signature hasn't changed.  I've tried
removing all references & uninstalling the relevant NuGet packages, and I
think that process completed successfully (my Visual Studio solution showed
plenty of "missing reference" errors!).  Installing v2.12 seemed OK, but
I'm still getting the "

[2019-12-16 18:23] cijothomas commented on #1497
This could be treated as a bug in ingestion/backend, or a by design thing (this was only intended to work on default list of counters). Either way this is not something fixable now in SDK alone without backend changes.

I can keep this issue open here for anyone else's reference, but I doubt there will be any fixes in this regard.
I'd assume that perf counters (other than default) is a area of Log

[2019-12-16 22:32] eddynaka commented on #1497
Hi @cijothomas , I didn't find any recommendation to use azure monitor & application insights. Don't know if that is a best practices since we are monitoring a client machine.

The idea of this issue is to check if we can:
- adjust ingestion/backend to receive a category name or split the data that we send
- adjust the sdk to send the category (if its possible to change the ingestion)

[2019-12-17 10:39] GeeWee commented on #1338
Alright, so I think I've tried to dig up the problem.

The instance owns the sink, but there's a mismatch in the TelemetryInitializers between the ASP.Net core injected TelemetryClient and the TelemetryConfiguration.

If In `Configure` I inject both `TelemetryClient` and `IOptionsMonitor<TelemetryConfiguration>`, I see the following `TelemetryInitializers` on the the `TelemetryConfiguration`

[cod

[2019-12-17 10:39] GeeWee commented on #1339
Yes, this is due to a missing `OperationCorrelationTelemetryInitializer` - sorry about that. Closing.

[2019-12-17 10:39] #1339 closed

[2019-12-17 11:34] eddynaka commented on #546
Hi all, is this still a issue?
I looked in to the docs, and I think it is up to date (it's showing 64KB).

[2019-12-17 11:42] eddynaka commented on #657
Hi all, is this issue still open?

[2019-12-17 11:46] eddynaka commented on #1398
Hi @lmolkova , is this still up-for-grabs? if yes, how do you think is the most appropriate way to implement that?
Thanks

[2019-12-17 14:15] xavierdecoster opened #1503 "TelemetryModules are not loaded when using TelemetryConfiguration.CreateDefault"
For a work-around for the heartbeat initial interval bug https://github.com/microsoft/ApplicationInsights-dotnet/issues/1298, the recommendation was to use `TelemetryConfiguration.CreateDefault()` to ensure the `applicationinsights.config` file is also read before doing any additional configuration in code via the SDK. (see [this discussion](https://github.com/microsoft/ApplicationInsights-dotnet/

[2019-12-17 16:22] xavierdecoster commented on #1503
@cijothomas if there is any way to initialize the TelemetryModules ourselves as configured in the applicationinsights.config file, and attach it to our own TelemetryConfiguration (as opposed to TelemetryConfiguration.Active), I'd love to know.

Basically:
* we call `TelemetryConfiguration.CreateDefault()` and attach our own DiagnosticsTelemetryModule to work-around #1298
* we use this TelemetryCon

[2019-12-17 17:54] cijothomas commented on #546
Sanitize need to trim message to ensure the limit is not exceeded. This is not fixed.

[2019-12-17 17:55] cijothomas commented on #657
Yes. The following PR would have fixed it, but it now has merge conflicts. If one can resurrect it, or create a new PR that'd be great!
https://github.com/microsoft/ApplicationInsights-dotnet/pull/1234/files

[2019-12-17 18:01] cijothomas commented on #1503
For all modules,
var mod = new module();
module.Initialize(config);
should work.

There is a way to load config from xml but not sure if it loads modules correctly.
https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/BASE/src/Microsoft.ApplicationInsights/Extensibility/TelemetryConfiguration.cs#L379

[2019-12-17 18:20] SergeyKanzhelev commented on #1312
Change here: https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/LOGGING/src/ILogger/ILogger.csproj#L3 and make sure everything builds

[2019-12-17 19:08] xavierdecoster commented on #1503
That's basically the other issue https://github.com/microsoft/ApplicationInsights-dotnet/issues/1018 I referenced, which also doesn't load the modules correctly (`null` argument on [this line](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/BASE/src/Microsoft.ApplicationInsights/Extensibility/TelemetryConfiguration.cs#L387))

So by the sound of it, we should add code for each

[2019-12-17 20:02] kvbreddy opened #1505 "Dependencies not logged when TaskCancelled Exception occurs in HttpClient.SendAsync"
When TaskCancelledException is generated while invoking the SendAsync on HttpClient with CancellationToken.None, then this HttpRequest is not logged as dependency. TaskCancelledException occurs mostly due to the timeout.

## Repro Steps
1. Using the following code to send a HttpRequest:

`HttpResponseMessage httpResponseMessage = await _httpClient.SendAsync(request, HttpCompletionOption.ResponseCo

[2019-12-18 09:26] Expecho opened #1507 "v2.12.0 breaks TelemetryInitializer support in Azure Function (V2)?"
## Repro Steps
I have an azure function v2 that uses a TelemetryInitializer as outline in #1428. When I test my function using v2.11.0 I can see the TelemetryInitializer doing its work. When I update to v2.12.0 it does not work anymore. Breakpoints inside the TelemetryInitializer are not hit. Downgrading vajc to v2.11.0 makes it work again.

I have created a repo to demonstrate the issue. It can b

[2019-12-18 10:04] xavierdecoster commented on #1503
The getter of `TelemetryModules.Instance` seems to query for the modules configured in the  `applicationinsights.config` file. Correct me if I'm wrong, but that's the effect I see.

This enables us to enumerate over each `TelemetryModule` configured in the `applicationinsights.config`, and properly initialize them against our custom `TelemetryConfiguration` object.

[code]

However, as the API doc

[2019-12-18 10:32] xavierdecoster commented on #1503
@cijothomas given a `TelemetryConfiguration` object, is there a way to query which `TelemetryModules` have been initialized against the instance? Would be useful to be able to harden against unexpected changes with test coverage, but in order to do so one needs to be able to query what has been initialized.

[2019-12-18 18:04] TimothyMothra commented on #1059
This task is dependent on #1160

[2019-12-18 18:10] cijothomas commented on #1507
Going ahead of the SDK version used by Functions is always a problem. Please take a dependency on WebJobs SDK (and not directly on ApplicationInsights). When functions update to 2.12, you'll also get 2.12. @brett from Functions team suggested this some time back.

[2019-12-18 20:44] mwonger opened #1509 "Appinsights logging affecting performance on Service Fabric nodes"
We are investigating a performance level issue with a set of customer applications that use Application Insights. We see the following callstack

**System.Diagnostics.Activity.get_TraceStateString**() [/_/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs @ 543]
Microsoft.ApplicationInsights.Extensibility.OperationCorrelationTelemetryInitializer+c__DisplayClass1_0.b__0() [E

[2019-12-18 20:49] cijothomas commented on #1503
There is no api to find this today.

[2019-12-18 21:05] lmolkova commented on #1509
@mwonger

I would say the following is the issue.

normally Activities depth is 2, so search for the tracestate string is negligible.

Can you help us understand if you create Activities yourself?
If not, it seems it's ServiceFabric issue (that it creates 354 Activities on avg ) and we'll communicate it to them.

/cc @yantang-msft

[2019-12-18 23:21] #1349 closed

[2019-12-19 07:30] Expecho commented on #1507
That's some sound advice, thanks! Added the Microsoft.Azure.WebJobs.Logging.ApplicationInsights package.

[2019-12-19 07:52] xavierdecoster commented on #1503
This could be useful to have so we can assert that certain modules have been initialized by our code. Any plans to add this functionality? Do you want me to report a separate issue?

[2019-12-19 09:29] ionmincu commented on #1460
Isssue is still present with `Microsoft.ApplicationInsights.NLogTarget` version 2.12.0.
Example:
[code]
In customDimessnion it's logged as:
![image](https://user-images.githubusercontent.com/44569445/71161837-c79f7400-2252-11ea-8409-5162e4c01fcd.png)

[2019-12-19 13:07] GeorgiMateev commented on #1177
Hello,
I'm hitting the same exception.
I also build the chain processor and I have a custom TelemetryProcessor.
What was the issue with the one in the question?

[2019-12-19 17:24] TimothyMothra commented on #1507
@cijothomas Would you recommend that all Functions users take a dependency on the WebJobs package instead of Application Insights directly?
I feel like I see bugs like this every other month and I'm wondering how we can better document/communicate this to our customers.

[2019-12-19 17:25] brett commented on #1507
@Expecho : wrong @brett

[2019-12-19 17:30] TimothyMothra commented on #1507
Sorry, tagging @brettsam for reference

[2019-12-19 19:01] cijothomas commented on #1507
Yes. No direct AI sdk. Get it through web jobs only.

[2019-12-19 19:29] TimothyMothra opened #1511 "11 xUnit tests not being run in NETCORE"
Xunit Analyzer is reporting 11 test methods missing the `[Fact]` attribute and are not being run.
Need to investigate.

![image](https://user-images.githubusercontent.com/28785781/71203390-bce4df00-2252-11ea-897d-b78b832f2696.png)

[2019-12-19 20:05] macrogreg opened #1512 "Understanding type and hierarchy or tracked exceptions"
Hi folks,

I have a question about how we track and display exception. I think that we may be displaying an inner exception where the outer exception should be shown and I would like to validate whether my reasoning makes sense.

**Scenario**:

(Full repro code below.) Inside an Azure Function I am using an Http Client to call an invalid URL and then I use response.EnsureSuccessStatusCode() to get

[2019-12-19 20:33] cijothomas commented on #1512
1.
The fact that exception is shown twice is due to this known issue, where DependencyTrackingModule reports an exception. (i.e it calls TrackException). This bug/issue exists only in .net core implementation, and not in .net framework. This must be fixed.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1362

2.  The sdkVersion field in the Exception gives a hint to who/how this was

[2019-12-19 21:18] Dmitry-Matveev opened #1513 "CreateRequestTelemetryPrivate: System.ArgumentOutOfRangeException: Length cannot be less than zero."
## Repro Steps
SDK telemetry got the following exception trending:
[code]

## Version Info
SDK Version : 2.12.0-21496

[2019-12-19 21:25] TimothyMothra commented on #1513
method is here:
https://github.com/microsoft/ApplicationInsights-dotnet/blob/35e4bb2624bcbe2af9fb5d1e724b28ffd49c460c/WEB/Src/Web/Web.Shared.Net/Implementation/RequestTrackingExtensions.cs#L14

I don't see an explicit call to String.Substring

[2019-12-19 22:10] snakefoot commented on #1460
@ionmincu Would Json-string be acceptable as property-value when having specified `@` ?

NLog has a Json-serializer that could be activated for non-primitive-types.

[2019-12-20 06:16] #1493 closed

[2019-12-20 13:00] Expecho commented on #1507
I think the docs need some modifications as well then, since it guides developers to using the AI nuget package. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-custom-telemetry-in-c-functions

[2019-12-20 15:45] jakenuts commented on #1513
I'm also getting this constantly now and it's a bit of a hassle as it swamps the rest of my trace telemetry.

It emerged for me at the 2.11.0-21474 version as an IndexOutOfRangeException and then evolved into ArgumentOutOfRangeException in 2.12.0-21496.

Version: dotnet:2.10.0-31626
**No exceptions**

Version: dotnet:2.11.0-21474
**IndexOutOfRangeException**
@ W3CUtilities.TryGetTraceId < CreateRe

[2019-12-20 18:27] #1030 closed

[2019-12-20 18:27] #1375 closed

[2019-12-20 18:28] #1432 closed

[2019-12-20 18:31] TimothyMothra commented on #1476
I'm closing this as it is no longer necessary and a workaround is available.

[2019-12-20 18:31] #1476 closed

[2019-12-20 18:47] TimothyMothra commented on #1507
Thank you for sharing.
I'm re-opening this so we can track a necessary documentation update.

[2019-12-21 20:10] krispenner opened #1518 "ILogger in ASP.NET Core 2.2 targeting net472 does not log"
I would like my ILogger logs to be written to AI after tweaking their messages.

This all works perfectly easy when targeting netcoreapp2.2 but I cannot get this to work for net472. Please tell me what I am missing. The Application Insights ILogger integration seems to have been re-written several times over the last few years and I can't find any clear documentation as to what is required for thi

[2019-12-22 07:17] krispenner commented on #1518
If I call `loggingBuilder.AddApplicationInsights()` in `ConfigureLogging()` of my `Program.cs` file. Then I start to receive TraceTelemetry instances through my TelemetryProcessor and into AI. However, from what I read I should not have to do this. **And**, doing so has now caused all non-TraceTelemetry (such as RequestTelemetry) to **not** pass through my TelemetryProcessors.

So it seems that `l

[2019-12-23 01:11] cijothomas commented on #1518
For applications targeting full framework, the new ILogger provider is not enabled.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1312 - This issue is tracking making ilogger work for apps targeting full framework.

There is a note in doc saying full framework is not supported for the new provider.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#migrate-from-the-o

[2019-12-23 07:20] krispenner commented on #1518
Thank you for clarifying. However, there is an issue with this approach as I last mentioned.
When configuring ITelemetryProcessors, they now only execute on TraceTelemetry and nothing else.

I'm guessing the `loggingBuilder.AddApplicationInsights()` creates a second client or some sort of channel that replaces the first one registered with `services.AddApplicationInsightsTelemetry()` and so any co

[2019-12-23 18:57] tedterrill commented on #973
@pksorensen

Not sure if you figured this out, but in case someone else has the same problem, I used v2.9.1 and seems to be working for me. I happened upon the page below which seems to confirm they are now using 2.9.1 sdk in Azure v2 functions.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-functions-supported-features#supported-features

[2019-12-23 22:05] pranavkm opened #1519 "Upgrade Microsoft.ApplicationInsights.AspNetCore 2.7.1 to 2.12 makes custom event not written to app insight"
_From @andrew-vdb on Monday, December 23, 2019 7:51:57 PM_

### Describe the bug
Custom event is not always written to app insight

### To Reproduce

### Further technical details
- ASP.NET Core version
3.1
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version
vs 2019 enterprise

I can see that custom event is being called but when i query it,

[2019-12-23 22:05] pranavkm commented on #1519
_From @andrew-vdb on Monday, December 23, 2019 7:53:08 PM_

Not sure if this is the correct repo to report

[2019-12-23 22:05] pranavkm commented on #1519
_From @Pilchie on Monday, December 23, 2019 8:11:10 PM_

@davidfowl do you have an Application Insights contact?

[2019-12-23 22:05] pranavkm commented on #1519
_From @davidfowl on Monday, December 23, 2019 9:22:15 PM_

Yes this should be filed on https://github.com/microsoft/ApplicationInsights-dotnet

[2019-12-24 10:58] andrew-vdb commented on #1519
[code]

Putting the new constructor might fix the issue

There is case where injected TelemetryClient has null sdkVersion
![image](https://user-images.githubusercontent.com/12871379/71410172-8a692680-2644-11ea-99f1-11dd27f5f848.png)

then it correctly inject with sdkVersion
![image](https://user-images.githubusercontent.com/12871379/71410208-a8368b80-2644-11ea-891d-42742bdd53f4.png)

[2019-12-25 08:03] #1480 closed

[2019-12-26 01:37] mia01 commented on #1457
Hello
Is there any action to be taken on this? I believe nlog has also the same issue although I'm not 100% certain. I raised a StackOverflow question about it here: https://stackoverflow.com/questions/59481261/application-insights-adding-cloud-role-name-via-custom-itelemetryinitializer-in

[2019-12-26 13:56] ganesshkumar opened #1520 "Ambiguity in using AddApplicationInsightsTelemetryProcessor"
We have a common library which does telemetry(and bunch of other horizontal features) for aspnetcore web services and netcore background services. This project depends on both `Microsoft.ApplicationInsights.AspNetCore`(2.12.0)  and `Microsoft.ApplicationInsights.WorkerService`(2.12.0) to support both type of services,

Now when I try to use `AddApplicationInsightsTelemetryProcessor` in our package

[2019-12-26 17:58] kinetiq commented on #1152
This is super fun to fix since this is used on my ServiceBase, which is used over 400 times. I don't even think there's a Resharper refactoring for this type of cascading dependency disaster.

[2019-12-26 18:18] kinetiq commented on #1152
Actually: https://stackoverflow.com/questions/6543078/resharper-or-visual-studio-shortcut-to-cascade-changes-to-a-constructor

[2019-12-26 19:45] cijothomas commented on #1457
@mia01 For logging adaptors other than Ilogger, I believe your only option would be to continue using TC.Active, even though its obsolete.

[2019-12-26 19:49] cijothomas commented on #1519
How are you tracking custom event?
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#how-can-i-track-telemetry-thats-not-automatically-collected

[2019-12-26 19:53] cijothomas commented on #1520
I cant suggest anything other than saying use Microsoft.ApplicationInsights.AspNetCore for web project, and Microsoft.ApplicationInsights.WorkerService for non-web project. Using them both in a library project is not one of the recommended paths.
You may still use a single library and make telemetry work - but in that case, you have to setup everything manually, and not rely on any extensions meth

[2019-12-26 19:53] #1520 closed

[2019-12-26 21:12] cijothomas commented on #973
@pksorensen @tedterrill Please take a dependency on WebJobs SDK, and not directly on ApplicationInsights. This means you'll never have to worry about which version of application insights sdk to use.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1507#issuecomment-567147218

[2019-12-26 23:17] cijothomas commented on #1518
Lets try this:
1. Enable 'old' LoggerProvider by using `loggerfactory.AddApplicationInsights` in `Configure` method.
[code]

2.  Add custom initializer like to DI in `ConfigureServices`.
[code]

This should cause both ilogger logs from old provider, any Request/other telemetry to use same telemetry configuration containing the TraceMessageCleanser.

I think the confusion is on how to enable old lo

[2019-12-26 23:18] cijothomas commented on #1518
My this statement was incorrect:

It should be `loggerFactory.AddApplicationInsights(app.ApplicationServices, LogLevel.Warning);` and not `loggingBuilder.AddApplicationInsights()`

[2019-12-26 23:21] cijothomas commented on #1312
SInce msft.extension.logging is only targetting netstandard2.0, we need to target net461 (or net472) in ilogger to consume it. This means aspnetcore project (which targets net45, net46) should additionally target net461 (or net472) - and enable auto ilogger integration for netstandard20 and net461(or net472).
This makes ilogger integration work well with .net core app targeting netet461 (or net472

[2019-12-27 04:36] lmolkova opened #1521 "Out of date transient nuget dependencies installed with AspNetCore SDK"
## Repro Steps
1. Install .NET Core 3.0 or 3.1 (if you don't have it)
2. Create an Web API ASP.NET Core web app
3. install Microsoft.ApplicationInsights.AspNetCore 2.12.0
4. Here is a list of dependencies VS shows in install dialog

##  Actual Behavior
[code]

## Expected Behavior

It does not seem right that on 3.X we depend
- on any of System.* 4.3.0 packages
- on AspNet packages 1.0.X
- on Exte

[2019-12-27 08:39] mia01 commented on #1457
@cijothomas I've only noticed this with console apps. With web apps I've been able to use:
[code]
Do you know why this is the case?

[2019-12-27 17:50] cijothomas commented on #1521
Is this because we don't have a netstandard2.1 target?

[2019-12-27 17:51] cijothomas commented on #1457
For console app, https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service this is the recommended approach. And initializers can be added the same way as web. It only integrates well with ilogger based logging, so nlog would require some manual steps.

[2019-12-27 21:20] sadjadbp commented on #1521
somehow should have been fixed as part of

microsoft/ApplicationInsights-dotnet-server#1269
microsoft/ApplicationInsights-dotnet-server#1263
microsoft/ApplicationInsights-dotnet-server#1249
microsoft/ApplicationInsights-dotnet#1351

it causes dotnet/SqlClient#144

[2019-12-27 21:27] lmolkova commented on #1521
@cijothomas I guess we need 3.1 target and we conditionally need to reference proper versions.

@sadjadbp I don't think it has any effect on runtime - actual version of dependencies used are determined by your application target framework.

[2019-12-27 21:31] sadjadbp commented on #1521
@lmolkova no affect on runtime but as mentioned dotnet/SqlClient#144 you'll get build error and to fix you have to add direct dependency to latest version of SqlClient like below. So your project file would have dependency to both Microsoft.Data.SqlClient and System.Data.SqlClient (just code ugliness for now)

`<PackageReference Include="System.Data.SqlClient" Version="4.8.0" />`

[2019-12-28 02:18] stemixreal commented on #1443
I'm new to CSP and had the same problem. Adding the sha to scrpit-src solved it quickly and easily. You'd have to change the sha if the script was changed but that isn't often afaik. I'm not up to speed on dynamic script in csp 3 yet, if it allows only nonces the sha won't work.

Like I said I'm new to this side of things so could very easily be wrong. Checking my headers with various tools seems

[2019-12-29 01:17] mia01 commented on #1457
@cijothomas Thanks for responding to my comment. Just doing some more investigation I could see there is a difference between the [TelemetryConfigurationOptions class for ASP](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/Implementation/TelemetryConfigurationOptions.cs) and [TelemetryConfigurationOptions for workerservice]

[2019-12-29 12:06] snakefoot commented on #1460
@ionmincu What happens if you do this:

[code]

[2019-12-29 22:02] snakefoot commented on #1459
You can do this in NLog 4.5 (and later):
[code]
See also: https://github.com/NLog/NLog/wiki/How-to-use-structured-logging

[2019-12-30 05:11] andrew-vdb commented on #1519
using TrackEvent, what else...
Not by using directly but using my own class wrapper
Changing the wrapper to TelemetryClient is not an option

Please wait for some times until my tester confirm that the CustomEvent already fixed by putting new constructor in class wrapper

[2019-12-30 14:36] SABARISHV06 commented on #1332
@cijothomas we are also getting below .NET Exceptions Report on the memory dump. Do you let us know what we are missing?

System.Net.WebException | 19 | The operation has timed out | System.Net.HttpWebRequest.GetResponse()    Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.Implementation.QuickPulse.QuickPulseServiceClient.SendRequest(System.String, Boolean, System.String, System.S

[2019-12-30 18:21] cijothomas commented on #1457
Populating `TelemetryConfiguration.Active` is done in Asp.Net Core not as a fallback mechanism, but because it was previously doing it, and hence continuing to do so to maintain backward compatibility.

WorkerServiceSDK is a totally new package, and it never had `TelemetryConfiguration.Active` from the beginning and no backward compatibility to maintain. So it doesn't populate .Active.

Unfortunat

[2019-12-30 21:05] TimothyMothra commented on #1332
For context, this is the method in the call stack:

https://github.com/microsoft/ApplicationInsights-dotnet/blob/35e4bb2624bcbe2af9fb5d1e724b28ffd49c460c/WEB/Src/PerformanceCollector/Perf.Shared.NetFull/Implementation/QuickPulse/QuickPulseServiceClient.cs#L123-L162

[2019-12-31 08:39] eddynaka commented on #1452
Hi @TimothyMothra , can I help in this?

Would be better to change to internal or change the namespace? If the namespace is the choice, what name should we give?

Thanks

[2019-12-31 13:48] rafist commented on #1186
Thanks @cijothomas, my issue was not related to the Flush after all.

[2019-12-31 19:03] cijothomas commented on #1452
@eddynaka This would be a breaking change and hence this will only be done in next major version bump to 3.0, which is not planned in immediate term.

[2020-01-02 23:47] SgtSpamCan opened #1524 "System.NullReferenceException while initializing Microsoft.ApplicationInsights.AspNetCore.TelemetryInitializers.WebSessionTelemetryInitializer"
Have just redeployed an Azure App Service application that was previously full-framework. It was retooled to .Net 3.1 Core, including the latest versions of all sdk's and dependencies.  Upon deploying the app and watching the live stream metrics in App Insights, I started seeing these null ref trace message pop up.  I don't know if this is causing failures for my clients or if this is innocuous.

[2020-01-04 01:25] TimothyMothra opened #1527 "Regarding Package Symbols"
## Problems
- I recently discovered a problem with our SDK symbols unavailable on Microsoft's Symbol Server. @lmolkova helped me verify.

- As part of the larger repo consolidation #1214, I'm investigating and consolidating our *.props.
I discovered that half our products were shipping `DebugType Full` and the other half was shipping `DebugType PdbOnly`
For context:
In 2018 we investigated changin

[2020-01-06 19:24] bdschaap commented on #1431
I wanted to see if there were plans to include this feature soon.

[2020-01-06 21:04] #657 closed

[2020-01-06 21:52] TimothyMothra commented on #1513
@jakenuts thank you for the extra call stacks, this was a big help!

I think the `ArgumentOutOfRangeException` is coming from `GetRootId`.
`IndexOf` can return a value of -1 which would then throw from the call to `Substring`
https://github.com/microsoft/ApplicationInsights-dotnet/blob/e9e9347967253ffe4baa2cfe018ce5dec72a756b/WEB/Src/Common/W3C/W3CUtilities.cs#L13-L25

The `IndexOutOfRangeExceptio

[2020-01-07 00:20] TimothyMothra commented on #1501
@leeds55 I wasn't able to reproduce this.

One thing to note, SDK 2.12 does not support .Net Framework v4.
I created a sample .Net 4.5 web app, onboarded to 2.12 and confirmed that Live Metrics (aka QuickPulse) was working.
I even included the sample code you provided.
[TestMissingMethodException.zip](https://github.com/microsoft/ApplicationInsights-dotnet/files/4028347/TestMissingMethodException.

[2020-01-07 05:39] subramaniamb opened #1530 "Offline support for ApplicationInsightsTarget"
We have successfully integrated our Xamarin Forms application with Azure Application Insights using Microsoft.ApplicationInsights.NLogTarget. It's working perfect in online scenarios. Our app has an offline capability, so how can we enable offline scenarios also with Microsoft.ApplicationInsights.NLogTarget? Is there any samples for the same?

[2020-01-07 12:35] xavierdecoster opened #1531 "Clarify/document HeartbeatState value and isHealthy property"
The API to set heartbeat properties provides an option to indicate whether the property value is to be considered _healthy_ or not.

Consider the following scenario for a program running a particular job continuously in a loop, setting the job-loop exit code as an additional heartbeat property, where an exit code different from 0 is considered unhealthy:

[code]

It is unclear how the SDK is using

[2020-01-07 14:04] eddynaka commented on #1420
@TimothyMothra , can I take this issue?

[2020-01-07 16:58] KrothuTheCoder commented on #1273
Hello, is there any update on when this might be addressed?

[2020-01-07 19:11] TimothyMothra commented on #1530
Our SDK does have support for local storage folders.
You'll want to configure the `ServerTelemetryChannel`

Please review this doc: https://docs.microsoft.com/en-us/azure/azure-monitor/app/telemetry-channels#configurable-settings-in-channels
Pay attention to the data-loss scenarios.

[2020-01-07 19:26] TimothyMothra commented on #1273
Sorry, I don't have an update to share at this time.
Reworking the channels is the very highest item on our backlog but our team hasn't had the bandwidth to address it.
Please continue upvoting these issues, this helps us prioritize tasks.

[2020-01-07 19:26] TimothyMothra commented on #1420
@eddynaka I don't have any context on these issues, they were both opened and addressed by Cijo.

[2020-01-08 17:16] SidShetye opened #1534 "`Microsoft.ServiceProfiler.EventPipe.Orchestration.OnDemandSchedulingPolicy` exceptions"
## Repro Steps
This error is thrown by our ASP.NET Core apps during runtime if we use AppInsights. We're not able to find any pattern in their occurrence. However, when it does happen, we notice it happens across multiple instances and apps in the same time frame.

##  Actual Behavior
Application logs show the following errors

### Windows OS

[code]

### Linux

[code]

## Expected Behavior
Applic

[2020-01-08 20:08] petedzappulla opened #1535 "ServerTelemetryChannel files persisted to disk during network outage do not process after network is restored without restarting the application."
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Execute an application that writes app insights telemetry with a configured ServerTelemetryChannel
2. Disconnect from WiFi
3. Verify that .trn files are being persisted to the configured ServerTelemetryChannel StorageFolder
4. Re-connect to WiFi

##  Actual Behavior
.trn files continue to be persisted to

[2020-01-09 20:19] felpel opened #1536 "Unable to inject ILogger in telemetry processor"
Based on an existing .NET Core web app:

## Repro Steps
1. Implement a minimal class that implements `ITelemetryProcessor` (e.g. `CustomTelemetryProcessor`);
2. Inject `ILogger<CustomTelemetryProcessor>` in the constructor;
3. Register your custom processor for dependency injection by calling:
[code]
4. Deploy your application in an Azure App Service;
5. After a while, try to access a well-known r

[2020-01-09 21:02] TimothyMothra commented on #1524
I confirmed that this bug was fixed in our SDK 2.10.
https://github.com/microsoft/ApplicationInsights-dotnet/blob/a26a43f012ef6afca563b43b16ab019698a3f062/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/TelemetryInitializers/WebSessionTelemetryInitializer.cs#L60-L64

This will get fixed when Azure App Services updates to our latest SDK.

@Mikhail-msft can you confirm which version of our SDK

[2020-01-09 21:05] Dmitry-Matveev commented on #1534
@pharring , can you please take a look at new exception reported for Snapshot Collector: "Failed fetching the next scheduling for policy OnDemandSchedulingPolicy"?

[2020-01-09 22:05] TimothyMothra commented on #1535
Hi @petedzappulla,
The `ServerTelemetryChannel` uses an exponential backoff logic whenever network errors are encountered. (Min 10 seconds, Max 1 hour).
If you allow your application to continue running, it should eventually resume transmission and clear out the local storage.

This is not documented well and I'm sorry for the confusion this caused. Please feel free to ask any follow-up questions

[2020-01-09 22:06] #1511 closed

[2020-01-09 22:06] #546 closed

[2020-01-10 12:03] GeeWee opened #1540 "Better documentation for Changing sampling settings in ASP.NET Core"
The documentation [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#configure-sampling-settings)

Seems like it could be documented much better, there's really quite a few ways to shoot yourself in the foot here:

## How to add custom telemetryProcessors
From the docs
[code]

However, looking at the source code, `builder.Use` adds the processor to the `TelemetryProcessorChai

[2020-01-10 14:09] petedzappulla commented on #1535
Thanks for the reply! That makes sense. I just tested it with a much shorter disconnected timespan and it worked perfectly. It would be good to be able to configure the `MaxDelayInSeconds`. In our case, we have thousands of devices that only come online for a minute or so every 30 minutes, and only stay connected for as long as it takes them to push and pull their updates. During the connected per

[2020-01-10 16:52] TimothyMothra commented on #1535
You're welcome!
I'm going to leave this issue open so we have this on our backlog to update the documentation.

[2020-01-10 17:55] epignosisx opened #1554 "How to specify Proxy Settings"
We were trying out Application Insights at work and we are not getting any telemetry in the Azure portal other than Page Views. We are pretty sure it is related to our Corporate proxy (it has caused us high levels of pain in the past).

How can I specify the proxy settings? The default proxy will not cut it for us. We have to specify url, port, username and password for our proxy.

For our .NET Co

[2020-01-10 18:29] felipe2050 opened #1615 "Tracking of Oracle database dependency"
We need track/collect Oracle database dependency data as it is now with SQL Server databases. Heterogeneous environments require this.

[2020-01-10 20:43] michaelpaulus commented on #1347
Is there any update on this?  I just got done upgrading all of our projects to EF Core.  I didn't realize this was an issue until now.

[2020-01-11 01:19] TimothyMothra opened #1634 "Visual Studio "Configure Application Insights" causes exception InvalidOperationException: No service for type 'Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet' has been registered."
## Scenario 1: Use Visual Studio to Add Application Insights [This works]

- Create a new ASP.NET Core Web Application (version Core 2.2 (don't know if this matters)).
- Right-click project > Add > Application Insights Telemetry
<img src="https://user-images.githubusercontent.com/28785781/72196231-95091700-33cb-11ea-8a85-4af04b6fdb83.png" width="600">

- Verify 3 changes
    - Package was added (c

[2020-01-11 01:34] TimothyMothra commented on #1634
The `AddApplicationInsightsTelemetry` registers the service.

https://github.com/microsoft/ApplicationInsights-dotnet/blob/6eef48bdcee298ffb40d561016fb46bd8ea00c4a/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/Extensions/ApplicationInsightsExtensions.cs#L151-L154

[2020-01-11 11:12] silmon27 opened #1635 "NullReferenceException when accessing lazy properties of HttpRequest (only) with AI enabled"
##  Behavior
I'm getting the following exception every couple of minutes/hours where we access HttpRequest.
[code]
If I recall correctly this started when we upgraded to ASP Core 3.0 (may be coincidence since we also updated AI and some other things at that time).
It happens in multiple microservices of ours (all running aspnet:3.1.0-alpine). Some very simple, some more complex. We don't use `IHtt

[2020-01-13 22:29] Dmitry-Matveev commented on #1536
Telemetry Initializers and Telemetry Processors are executed synchronously to the place of `TelemetryClient.Track*()` invocation. Therefore, if any of them is producing telemetry that eventually is reported with `TelemetryClient.Track()` method - you'd have an infinite stack of Track invoking track.

My suspicion is that registering Processor with ILogger would produce some ILogger events for that

[2020-01-14 13:24] stebet commented on #1347
If you are using Microsoft.Data.SqlClient, you should be fine if you upgrade to the [latest release](https://www.nuget.org/packages/Microsoft.Data.SqlClient/) (1.1.0 as of this comment).

[2020-01-14 13:26] stebet commented on #1347
This issue was fixed with this PR: https://github.com/dotnet/SqlClient/pull/241

[2020-01-14 13:26] #1347 closed

[2020-01-15 10:18] ralphhendriks opened #1636 "Question: How to configure telemetry initializer properties in ASP.NET Core app"
**Context**
Our app is deployed behind a reverse proxy, and I would like to configure a nonstandard header for retrieving the client IP address from. It is the responsibility of the `ClientIpHeaderTelemetryInitializer` to set the correct client IP address. It has public properties `HeaderNames`, `HeaderValueSeparators`, and `UseFirstIp` that modify its behavior. I think that setting these to the c

[2020-01-15 13:46] cleberdantas opened #1637 "ServerTelemetryChannel does not respect what is passed via ApplicationInsights.config"
[code]
Hi,
It seems like when we set via configuration file (ApplicationInsights.config) the `EndpointAddress` element that this is ignored by `ServerTelemetryChannel` class.

Bellow we can see that when the `Initialize` method is called the property is set with the value inside of `configuration.EndpointContainer.Ingestion`  which is not the same source when loaded via configuration file:

https:

[2020-01-15 23:52] Dmitry-Matveev commented on #1505
I checked on the latest stable version of AI .NET Core SDK (2.12) to warrant the fix for 2.13 but things actually worked out: I got Remote Dependency reported right before VS output lit up with `TaskCanceledException`.

@kvbreddy , do you host this .NET app on full .NET but in Kestrel? (Description suggests 4.7.1 as a target .NET). I hosted on .NET Core 3.0 and it may explain the difference.

Also

[2020-01-16 10:07] anjanchidige commented on #1186
@rafist , Could you please share more details on actual issue. Could you please share details, if it is resolved for you.

[2020-01-16 13:02] anjanchidige commented on #1186
@cijothomas , We are using Log4Net, Application Insights Appender to log to App Insights. TelemetryClient.Flush method is called after every TelemetryClient.TrackTrace method. After a few hours/sometimes immediately, all other application API calls in my application are failing with Task Cancelled exceptions. When we disable the Application Insights Appender in the Log4net.config file, all my API

[2020-01-16 19:46] Dmitry-Matveev commented on #1637
@TimothyMothra can you please look into that?

[2020-01-16 21:13] TimothyMothra commented on #1637
This looks like a bug.

This change was introduced in 2.12 when I added support for connection strings.
I added unit tests for as many ways to configure the SDK as I could imagine, but clearly I missed something.

I'm adding this to the top of my todo list, but please give me a couple of days to look at it.
We have some customers already using connection string without issue, so I'll need some tim

[2020-01-16 21:30] cleberdantas commented on #1637
Hi, @TimothyMothra!

Thanks for the quick reply.

As a "workaround" I've just moved the `EndpointAddress` configuration into a web.config/app.config file and configured this via code with `TelemetryConfiguration.Active.TelemetryChannel.EndpointAddress`, it worked just fine.

Since the ApplicationInsights.config is the default option and it is the way that the docs states how to configure it, I tho

[2020-01-16 22:16] Dmitry-Matveev commented on #1636
I think we leverage `AddSignleton<>`, but not `TryAddSingleton<>`, so trying to register configured initializer beforehand won't work - default one will override yours in DI.

However, retrieving initializer from service collection and modifying its properties is the way to go with the current implementation of in-code configuration in AI ASP.NET Core SDK.

@cijothomas may have some other suggesti

[2020-01-17 00:18] andrewleader commented on #1334
Yeah I need to turn off logging (I'd like to turn off dependency tracking in general) for my Azure Functions. It's costing me a boat load and I never look at that info. How do I do it?

[2020-01-17 00:21] andrewleader commented on #1425
I need this. It's costing me a ton in AI because of dependencies (like SQL) being tracked in my functions! How is there not a way to turn this off?

[2020-01-17 02:38] lmolkova commented on #1334
@andrewleader for functions you could disable all dependency tracking in host.json with something like:

[code]

This is **not** applicable to ApplicationInsights ASP.NET Core SDK in general and there is no way to disable SQL collection only

[2020-01-17 09:46] tompazourek commented on #407
@cijothomas Could you look at this, please? I looked inside the **ServerTelemetryChannel**, and it seems it actually does wait for the asynchronous task to finish:

https://github.com/microsoft/ApplicationInsights-dotnet/blob/7633ae849edc826a8547745b6bf9f3174715d4bd/BASE/src/ServerTelemetryChannel/ServerTelemetryChannel.cs#L289-L298

What am I missing?

[2020-01-17 11:58] ralphhendriks commented on #1636
@Dmitry-Matveev thank you for your answer. I will raise a separate issue on the doc page.

I decided to go with the option to remove the instance of `ClientIpHeaderTelemetryInitializer` that is added by `.AddApplicationInsightsTelemetry()` and then add a fresh instance with my own custom configuration. IMHO this is more explicit and resilient for future changes of the Application Insights SDK impl

[2020-01-17 16:17] wortho opened #1639 "Unhandled exception. System.Diagnostics.Tracing.EventSourceException"
My aspnetcore application crashes frequently with

It usually crashes after running for about a minute.

Workaround: I disabled ApplicationInsightsServiceOptions.EnableEventCounterCollectionModule
After disabling this module in ConfigureServices the application no longer crashes.
[code]

##  Actual Behavior
Application crashes after about a minute with exception:
[code]
## Version Info
SDK Version

[2020-01-17 16:26] pharring commented on #407
That still doesn't guarantee that the events are sent to the ingestion endpoint. The ServerTelemetryChannel has a Transmitter with its own buffering. `TelemetryBuffer.FlushAsync()` merely ensures that events are handed off to the Transmitter.

[2020-01-17 17:15] andrewleader commented on #1334
Thanks @lmolkova, but that doesn't seem to be working. I've made that change and deployed it, 20 minutes later here's the telemetry event

![image](https://user-images.githubusercontent.com/13246069/72631784-bb6a0d80-3909-11ea-810d-233b585fc229.png)

I'm using Azure Functions v2, here's my host.json

[code]

[2020-01-17 18:49] andrewleader commented on #1334
Using the sampling along with `samplingExcludedTypes` also doesn't do anything...

[2020-01-17 18:58] lmolkova commented on #1334
@andrewleader

if Functions configuration does not work for you according to https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights, please create an issue in https://github.com/Azure/azure-functions-host or https://github.com/Azure/azure-webjobs-sdk, If you apply any custom configuration (in host.json or code), please provide details there.

[2020-01-18 01:02] Taudris commented on #1559
Is this an adequate upgrade-resistant workaround I can use in production until this gets resolved?

    if (!services.Any(o => typeof(IHeartbeatPropertyManager).IsAssignableFrom(o.ImplementationType)))
    {
        services.AddSingleton<ITelemetryModule, DiagnosticsTelemetryModule>();
    }

[2020-01-20 17:04] pzbyszynski commented on #1334
@lmolkova I do not want to turn off all dependencies, just SQL query text logging. It was possible for non-core applications.

SQL query logging consumes huge amounts of data volume. With the amount of data we generate, application insights are useless for us. We have to set a cap limit that is being hit very fast. And without a cap, AI costs us the same amount that all other services we use combi

[2020-01-21 16:56] andrewleader commented on #1334
@pzbyszynski I managed to find a solution that worked, and documented it a bit better here: https://medium.com/@andrewleader/disable-tracking-dependencies-in-azure-function-application-insights-629e5d192464

[2020-01-21 18:34] pzbyszynski commented on #1334
@andrewleader I followed your example. As I only need to exclude SQL query text from my dependencies I set `dependency.Data = null;` inside telemetry processor. It works great in core web API, unfortunately, it does not work for me in functions. SQL query text is still being logged :/

cc: @lmolkova

[2020-01-21 19:11] paulirwin commented on #1536
I am unsure if this is the same issue or a separate one, but we noticed the same problem with `IDataProtectionProvider` instead of `ILogger`, but it only started happening after upgrading from .NET Core 2.2 to .NET Core 3.1. (We use IDataProtectionProvider to read a cookie value, and were setting that to the `requestTelemetry`'s `AccountId` property.) The app will not start up, and if you really d

[2020-01-22 03:08] Cloudmersive commented on #1623
Can't believe this is not built-in

[2020-01-22 21:12] ssa3512 commented on #1513
Is there any workaround for the issue until it is released? Our trace logs are filled with nothing but this error.

![image](https://user-images.githubusercontent.com/1991399/72934549-d8e80e80-3d31-11ea-9ebe-521269c6977b.png)

[2020-01-23 06:32] iSeiryu commented on #1152
So how do we make logs in the Startup.cs file now? Before we would create the configuration of ApplicationInsights inside Program.cs and then inject TelemetryClient into Startup's constructor:
[code]
But now the instance of TelemetryClient is not going to be available in Startup.ConfigureServices() method.
We need to log some HealthChecks, Auth, IHttpClientFactory, etc. setup info. Certain things

[2020-01-23 23:07] ZeinSleiman opened #1645 "Worker Service Application vs AspNetCore Application when using Serilog to write ApplicationInsights has to be configured differently"
My apologies if this is not an actual bug or an issue. I am trying to use Serilog to write exceptions to Application Insights, however the behavior is different from AspnetCore application.

### ASPNETCORE
[code]

### Worker Services
[code]

## Repro Steps
1. Create a new WorkerService app using dotnet new worker
2. Added all these packages:
<PackageReference Include="Serilog" Version="2.9.0" />

[2020-01-26 12:47] shawnzxx opened #1647 "How to store dependencyActivity.Id before dependencyActivity.Start()"
I have a special requirement to store "dependencyActivity.id" in an SQL transaction before start the dependency activity.
I realized that I can only get a new dependency activity id when I start it, and Activity.id is a read-only field that does not allow me to inject it into Activity instance.

Below are my current code logic, I use dependencyActivity.Id as my downstream service's operationParent

[2020-01-27 02:45] robintschroeder commented on #948
I am also seeing this problem while building a VS 2019 extension.
I can confirm that rolling back to 2.3.0 resolves the issue, but it isn't a long term solution!

[2020-01-27 05:18] pharring commented on #948
Using `TelemetryConfiguration.Active` in an extension is, unfortunately, asking for trouble. You're competing with any other extension (including built-in Visual Studio components) that might also be using TelemetryConfiguration.Active -- and they may load first with a binding redirect. That's likely what's happening here.

Extension authors should new up their own TelemetryConfiguration instances

[2020-01-27 15:53] dalibormesaric commented on #1096
Is it possible that TrackAvailability() creates new Availability Test that would go under Overall? Related to the screenshots from the url you provided @TimothyMothra

[2020-01-27 15:56] PeterOrneholm commented on #1096
+1 one the question from @dalibormesaric. I'm using `TrackAvailability()` from my package https://github.com/PeterOrneholm/Orneholm.ApplicationInsights . It works as expected, but it dows not show up as a test in the list in the portal. Do I need to set some special property for it to show up there?

[2020-01-27 22:48] TimothyMothra opened #1648 "Endpoint configuration broken for ServerTelemetryChannel and QuickPulseTelemetryModule (applies to SDK version 2.12.0)"
1.  **ServerTelemetryChannel**
When I added support for connection strings, I introduced a bug in ServerTelemetryChannel as reported here #1637

https://github.com/microsoft/ApplicationInsights-dotnet/blob/b7cc9ff95e3f5f66ebf098a6e0cad54df16b685d/BASE/src/ServerTelemetryChannel/ServerTelemetryChannel.cs#L317-L333

ServerTelemetryChannel is erroneously overwriting the Endpoint address on Initializa

[2020-01-27 22:50] TimothyMothra commented on #1648
This needs to be released as a hotfix for 2.12 (2.12.1)
and will be included in 2.13-beta2

[2020-01-27 23:05] TimothyMothra commented on #1513
We had a fix for this in 2.13-beta1.
Telemetry shows that this exception is still occurring.

The plan is to disable compiler in-line optimization for this method only in the 2.13-beta2.
Our hope is that we can capture a full stack trace to see where this is occurring.

[2020-01-27 23:15] gplwhite commented on #1513
FYI - 2.13-beta1 did seem to resolve this for us.

[2020-01-28 00:47] Dmitry-Matveev commented on #1536
@paulirwin , this does look like a separate issue from stack overflow on telemetry collection I am familiar with. However, at the same time, it may be the same issue that ILogger DI above is about.

I tried small repro with `TelemetryInitializer` accepting `IDataProtectionProvider` in DI, and the application hangs well before first telemetry item is even collected - it hangs right in the configura

[2020-01-28 09:39] olivergrimes commented on #364
I have an issue that looks exactly like this, one particular instance of the affected service had over 55000 threads with the following stack:

[code]

This is a SF ASP.NET Core (netcoreapp3.0) service, using the following packages:

[code]

The diagnostics pipeline is initialised in `Program.cs` as follows:

[code]

And using the following eventFlow.config:

[code]

Interestingly, all other servi

[2020-01-28 11:32] hansmbakker commented on #1152
I received code that uses `new TelemetryClient()` to setup mock objects in tests (in the core application it is done properly using DI).

For this `new TelemetryClient()` instances in my tests I get a warning that it is deprecated with a link to this issue - how can we best mock a `TelemetryClient` instead?

[2020-01-28 12:48] H0110WED commented on #1350
Any update on this? Just having the list of keys and values would be great in the meantime.

[2020-01-28 19:53] TimothyMothra commented on #1637
@cleberdantas we're releasing 2.12.1 today that contains the fix for this.
It should be available on NuGet within an hour!

2.13-beta2 should get released later this week, also with this fix.

Thanks again for reporting this issue!

[2020-01-29 12:54] funnay commented on #1554
Hi guys.

We're using App Insights in our .NET Core services and these service are running on premises in an  Azure Service Fabric backend cluster. This cluster does not have internet/azure direct access.

Right now we're doing a bunch of infrastructure "hacks" using Squid in intercept mode and DNS configs so that the App Insights requests can get to Azure, without affecting the service. It works

[2020-01-29 18:31] pharring commented on #1554
Instead of reflection, can't you set the default proxy globally for the app via
`System.Net.WebRequest.DefaultWebProxy` ?
i.e.
[code]

Or do you want to set the value differently for App Insights?

[2020-01-29 18:35] pharring commented on #1554
Oh, sorry; that doesn't work for HttpClient.
In .NET Core 3.0 and 3.1, there's an `HttpClient.DefaultProxy` static property:
https://docs.microsoft.com/dotnet/api/system.net.http.httpclient.defaultproxy

[2020-01-29 19:11] bryancrosby opened #1652 "Telemetry is sent for Console application even when instrumentation key wasn't set"
I recently installed the Application Insights Status monitor on a cloud-hosted VM. I wanted to see some detailed SQL command text from a console application, using the custom SDK. This console application can be run with different command line arguments to perform different tasks. I have one particular instance of this app to be monitored with App Insights SDK -- I created a custom telemetry initi

[2020-01-29 21:44] #1059 closed

[2020-01-29 22:06] TimothyMothra opened #1653 "SDK Diagnostics Mode, emit ETW logs without redeploying an application."
This is a continuation of #1059

We want to introduce a **DiagnosticsMode** into the SDK.
This would be controlled by an environment variable.
A customer could set this instead of redeploying an application, although this would require restarting an application.

### First Version (2.13 milestone)
- Diagnostic Mode would enable the `FileDiagnosticTelemetryModule` to collect ETW logs emitted by the

[2020-01-29 22:11] fatihyildizhan opened #1654 "How can I use with .NET Core 3.1 WPF ?"
Is there a chance to totally init on a .NET Standard 2.1 Class Library and call from other projects?

I am using MVVM and tried this on OnStartup and on MainViewModel but didn't work for me. What am I missing?

[code]

[2020-01-29 22:55] funnay commented on #1554
This. Do you think it's possible?

[2020-01-29 22:57] TimothyMothra commented on #1653
@reyang - please review.

@trask, @littleaj - Can you please provide feedback?
My goal is that this should be generic enough to be implemented by other SDKs so we can have a consistent supportability story. I would love to get your opinions/perspectives.

[2020-01-29 23:04] #1637 closed

[2020-01-29 23:12] TimothyMothra opened #1655 "Need to update FileDiagnosticTelemetryModule documentation"
The FileDiagnosticTelemetryModule was moved from the HostingStartup assembly to the Base SDK.
As part of this move, we've added support for NetStandard2.0.
As a consequence of this, this diagnostic module can be used on linux/unix machines.
We don't have great libraries for interacting with the file system on linux, so documentation needs to be updated with some new guidance.

When running on linu

[2020-01-29 23:24] pharring commented on #1654
Works for me. For client applications, make sure you call `telemetryClient.Flush()` at shutdown, otherwise you'll drop events.

[2020-01-30 00:51] reyang commented on #1653
Adding @maxgolov who has similar requirements for our C++ SDKs.

Is there a reason that we prefer the SDK to collect ETW logs generated by itself and pipe it to a file?
Have we considered providing a separate tool which interacts with SDK internal ETW logs?

[2020-01-30 00:53] reyang commented on #1653
What is the expected behavior if the environment variable is set to something else (e.g. "foo")?

[2020-01-30 01:33] TimothyMothra commented on #1653
@reyang we already have separate tools that can collect ETW logs. PerfView and StatusMonitor.
But we have customers who can't install exe or scripts on their production machines (including Azure).
So the intention is for the SDK to collect it's own logs. This is something we've had several customers ask for. :)

If the environment variable is set to an unsupported value, we would revert to the def

[2020-01-30 01:34] #1648 closed

[2020-01-30 03:17] reyang commented on #1653
@TimothyMothra I see, thanks.

[2020-01-30 03:20] reyang commented on #1653
Is `APPLICATIONINSIGHTS_DIAGNOSTICS_LOG_DIRECTORY` a path for a file or folder? What would the file name be? What is the scope of a file (do we use the same file for all the processes/apps?). Do we support non-ASCII path?

[2020-01-30 10:01] fatihyildizhan commented on #1654
@pharring Thank you. I am now getting events. Is there a way to see Live Metrics Stream too, Should I track manually?

[2020-01-30 15:13] mattheuspirovani opened #1657 "Question: Custom config SnapshotCollectorConfiguration"
I'm customizing the SnapshotCollectorConfiguration settings, but it doesn't look like it's reflecting what has been defined. The SnapshotCollectorConfiguration entry resides inside the entry ApplicationInsights, right?

Current ApplicationInsights config:

`"ApplicationInsights": {
    "InstrumentationKey": "xpto",
    "SnapshotCollectorConfiguration": {
      "IsEnabledInDeveloperMode": true,

[2020-01-30 16:54] #1657 closed

[2020-01-30 18:03] TimothyMothra commented on #1653
@reyang I want to only expose the directory as a variable.

https://github.com/microsoft/ApplicationInsights-dotnet/blob/2bc5654201f001303991ab88e5af9f730fadf772/BASE/src/Microsoft.ApplicationInsights/Extensibility/Implementation/Tracing/SelfDiagnostics/FileDiagnosticsTelemetryModule.cs#L29-L38

Although the module can be customized with a file name, in my opinion, this doesn't add enough value to

[2020-01-30 18:05] TimothyMothra commented on #1653
Regarding non-ASCII paths, we don't do anything to prevent this.
We do have a validate method which checks for a dozen different possible Exceptions.
https://github.com/microsoft/ApplicationInsights-dotnet/blob/2bc5654201f001303991ab88e5af9f730fadf772/BASE/src/Microsoft.ApplicationInsights/Extensibility/Implementation/Tracing/SelfDiagnostics/FileDiagnosticsTelemetryModule.cs#L159

[2020-01-30 18:39] reyang commented on #1653
Agree, in this way I suggest that we update the description from `Value: file path` to `Value: full path of the directory where the log files would be stored`.

[2020-01-30 19:44] pharring commented on #1654
Yes.
First add the Microsoft.ApplicationInsights.PerfCounterCollector nuget package to your app.
Then, see
https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#classic-aspnet

Note that you can't use ApplicationInsights.config to configure a .NET Core app. You have to use the code snippet.

(If your WPF APP is sophisticated enough to also use Microsoft.Extensions.DependencyInjectio

[2020-01-30 21:14] fatihyildizhan commented on #1654
Thank you so much.

[2020-01-30 21:14] #1654 closed

[2020-01-30 23:04] Dmitry-Matveev commented on #1652
The current code as I read it would set Instrumentation Key for every telemetry if you have at least one Task in `tasksToInstrumentWhitelist` due to `TelemetryConfiguration.Active=key;`.

`Active` is the singleton and the Telemetry Client created from this singleton will have its IKey, any telemetry passing through this client will be stamped with this IKey. AI auto-collection will leverage that s

[2020-01-30 23:28] bryancrosby commented on #1652
I suppose I'm confused here. The class `TaskWhitelistTelemetryProcessor` says that the `TaskName` property must exist, and the value that it has must match an item on the whitelist in order for the telemetry to be sent.

`if (item.Context.GlobalProperties.TryGetValue("TaskName", out var taskName) && tasksToIncludeTelemetry.Contains(taskName))`

What I think is more strange is that I'm getting the

[2020-01-31 00:03] Dmitry-Matveev commented on #1652
Status Monitor installs AI SDK into the process if it does not have one and starts to auto-collect telemetry with the usual AI collections modules for Request / Depedency and so on. You dot really need it if you already have SDK in your web application. However, if your app is console application (like the title suggests) Status Monitor will not do anything at all - it only supports IIS-deployed a

[2020-01-31 00:29] bryancrosby commented on #1652
Understood. So it should be filtering them out. But it seems like somehow Status Monitor starts sniffing the process for instances of this console application.

The only reason I added the Status Monitor was to gather the SQL command text for SQL queries. According to the docs I read on MSDN, this was the recommended thing to do. Is this document still the recommended way of capturing this? Curren

[2020-01-31 00:35] Dmitry-Matveev commented on #1652
For full .NET Status Monitor is indeed a way to collect Sql query (on latest .NET core, SM is not needed and SQL command can be collected with SDK), but by default it will only attach a profiling piece to the ASP.NET applications hosted in IIS. It would not know about the console apps and it won't show them in its UI to enable for monitoring.

You can manually hook up the profiling piece that Stat

[2020-01-31 00:42] bryancrosby commented on #1652
The overarching goal was to just try and get some SQL command text into App Insights, as well as the usual stuff that comes out of the box (HTTP, etc.). There are currently no other apps installed on the machine. IIS is not even installed as this is not a web application. Unfortunately, this app cannot be converted to .NET Core just quite yet.

Is there a document to set up the profiling variables

[2020-01-31 00:49] Dmitry-Matveev commented on #1652
Not really, it's not officially supported :)

I may hint though, that you may try to mimic what Status Monitor does to W3SVC registry key (`Environment` value under HKLM\System\CurrentControlSet\Services\W3SVC) and setup the same environment variables for your application before it starts (e.g. start from command line that has these variables set).

At your own risk with no support, though.

[2020-01-31 04:28] andrewleader commented on #1334
Unfortunately the solution I had for using the FunctionStartup doesn't seem to be working for my newly deployed v3 function... Super frustrating. Why is it so complicated to disable this!

[2020-01-31 14:40] biltongza opened #1662 "Questions on Restsharp dependency tracking"
I know that dependency tracking is enabled automatically for `HttpClient`, I was wondering if there was a way for me to implement this same dependency tracking for RestSharp? Do I just need to use telemetry client to track the request? Also, how do I get my downstream dependencies to use the parent operation ID from my incoming web requests?

[2020-01-31 18:36] andrewleader commented on #1334
@pzbyszynski so I got something working for my new v3 function (and I updated my article).

I got it working purely using `host.json`. The problem is their docs for `samplingExcludedTypes` are incorrect, so that property wasn't working at all, hence why I could previously never get host.json to work.

**host.json**: https://gist.github.com/andrewleader/28b6b4903b3db6043378e818d3b3a8b3

**Article w

[2020-02-03 08:16] fergus3000 opened #1663 "Question on dependency tracking telemetry support for gRPC in dot net core 3"
I have been reading that dot net core 3 has more closely integrated support for gRPC with [grpc-dotnet](https://github.com/grpc/grpc-dotnet) . Since this new gRPC package uses the existing networking primitives in the .NET Core BCL, will App Insights support dependency tracking out of the box? (in the same way it does for http rest implementations).

I have a service fabric microservices app that

[2020-02-03 08:46] olivergrimes commented on #364
After a bit more research, I realised that we had a `TelemetryClient` instance being created on each HTTP request to the service, as it was registered as `Scoped`🤦‍♂️.  I've updated this to `AddSingleton` in service registration and hopefully this should sort our issue out.

I thought an update might help anyone else in the same self-inflicted situation!

[2020-02-03 23:38] lmolkova commented on #1663
@fergus3000
unfortunately ApplicationInsights does not track grpc specific information yet (method and status code). However grpc calls are done using HttpClient and you'd get some info with basic HTTP tracing out of the box.

There is a doc PR in progress https://github.com/aspnet/AspNetCore.Docs/pull/16512 that has a bit more info on this.

[2020-02-04 05:51] arabelaa opened #1667 "Logs from WebHost.Run are not written to ApplicationInsights when configuring AddApplicationInsightsTelemetry in ConfigureServices"
### Describe the bug
I want to log exceptions that occur when running the webhost. See below the code I used in Program.cs.
The strange part I noticed is that when adding  `           services.AddApplicationInsightsTelemetry();
` in `ConfigureServices` the logs are not pushed to AI. If I remove the registration it works perfectly fine. I did the exact steps with a sample  ASP.NET Core and the same

[2020-02-04 10:12] funnay commented on #1554
Hello.

Can someone please confirm if it's possible to specify a proxy only/different for App Insights using the @mvdburght suggestion?

[2020-02-04 11:09] biltongza commented on #1662
I have made some progress on this, I have this call which I use on every restsharp request:
[code]
This is now successfully correlating between our frontend API and our backend services, however it seems that app insights is not correlating the dependency telemetry from our frontend SPA to the frontend API.

The `traceparent` header is present on my requests from the SPA, so I had assumed that the

[2020-02-04 14:35] pharring commented on #1554
@funnay, I think @Swellenator already confirmed it. This isn't officially supported since it uses reflection to replace a private field value. I also think that it won't work on applications targeting net45.

[2020-02-04 18:33] TimothyMothra commented on #1653
I'm postponing this work a few more weeks to better align with the other SDKs.

[2020-02-04 18:41] maxgolov commented on #1653
@TimothyMothra - I like your implementation. There's a similar implementation in our 1DS C++ SDK, I think we should discuss and normalize on ETW GUID, tooling, file vs system log, and possibly on how we can route the critical failure logs to [Diag Track](https://support.microsoft.com/en-us/help/3080149/update-for-customer-experience-and-diagnostic-telemetry) when running on Windows 10.

[2020-02-04 18:51] TimothyMothra commented on #1653
@maxgolov I'm VERY interested in the C++ SDK implementation. Lets please discuss offline.

I don't think .NET can change our ETW guids as that would be a breaking change.
For the .NET SDK i have all of those documented here: https://github.com/microsoft/ApplicationInsights-Home/tree/master/Samples/ETW

I'd like to hear your thoughts about tooling. The .NET SDK already supports several tools (see d

[2020-02-05 07:40] JamesNK opened #1668 "Track incoming gRPC request information"
Incoming request details:

https://github.com/aspnet/AspNetCore.Docs/pull/16512

Consider special casing gRPC requests. The HTTP status code will always be 200. `grpc.status_code` is used to track the result of the call.

cc @shirhatti

[2020-02-05 07:43] JamesNK opened #1669 "Track outgoing gRPC request information"
Outgoing request details:

https://github.com/aspnet/AspNetCore.Docs/pull/16512

Consider merging the gRPC request with the HttpClient request metrics. HttpClient request will always report a HTTP status code of 200. gRPC request `grpc.status_code` is what is used to track the result of the call.

cc @shirhatti

[2020-02-05 21:22] #1404 closed

[2020-02-05 23:48] TimothyMothra commented on #1501
@leeds55 I'm going to close this issue for now.
If you get a repo, feel free to re-open.

[2020-02-05 23:48] #1501 closed

[2020-02-05 23:49] TimothyMothra commented on #1513
we're no longer seeing this error so i'm going to close this as resolved.

[2020-02-05 23:49] #1513 closed

[2020-02-05 23:58] TimothyMothra commented on #1460
two workarounds have been provided. I'm marking this as resolved.
Feel free to reopen if you have additional questions.

[2020-02-05 23:58] #1460 closed

[2020-02-06 04:48] kvbreddy commented on #1505
@Dmitry-Matveev, I apologize for delayed response. My notification settings were not configured properly.

I used GET in SendAsync(). I Could simulate it locally in VS as well by using fiddler to simulate slow connections using modem speeds.

[2020-02-06 11:08] EngSayed commented on #1569
I have a question regarding the collection period, I have setup a web application with Application Insights to collect performance counters. While there are activities on the web application (page requests, ...) I can see the performance counters. But if there are no activities then there are no performance counters and Live Metrics says that my application is offline.
Is there a way to always col

[2020-02-06 11:12] EngSayed commented on #1569
I have a question regarding the collection period, I have setup a web application with Application Insights to collect performance counters. While there are activities on the web application (page requests, ...) I can see the performance counters. But if there are no activities then there are no performance counters and Live Metrics says that my application is offline.
Is there a way to always col

[2020-02-06 18:27] bryancrosby commented on #1652
Closing this as it's not technically supported

[2020-02-06 18:27] #1652 closed

[2020-02-06 18:51] ZeinSleiman commented on #1645
I would love to know if this is an issue, not an issue, any workaround. I appreciate any feedback.

[2020-02-07 00:15] TimothyMothra commented on #1386
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:15] #1386 closed

[2020-02-07 00:15] TimothyMothra commented on #1387
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:15] #1387 closed

[2020-02-07 00:15] TimothyMothra commented on #1388
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:15] #1388 closed

[2020-02-07 00:15] TimothyMothra commented on #1389
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:15] #1389 closed

[2020-02-07 00:15] TimothyMothra commented on #1392
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:15] #1392 closed

[2020-02-07 00:15] TimothyMothra commented on #1039
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:15] #1039 closed

[2020-02-07 00:15] TimothyMothra commented on #1370
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:16] #1370 closed

[2020-02-07 00:16] TimothyMothra commented on #1371
I'm no longer seeing this test fail, so i'm closing this task.

[2020-02-07 00:16] #1371 closed

[2020-02-07 00:18] TimothyMothra opened #1671 "Flaky Test: WebApi.FunctionalTests.FunctionalTest.ExceptionTelemetryWebApiTests.TestBasicRequestPropertiesAfterRequestingControllerThatThrows"
I'm seeing this test fail frequently:

[code]

[2020-02-07 00:33] ishepherd commented on #342
@SergeyKanzhelev Yes, please reconsider. ^^^

Simply asking that the TelemetryClient implement an ITelemetryClient so we can verify the TrackMetric calls.

That is the right level for us to verify. Our prod code knows nothing whatsoever about ITelemetryChannels, it would be weird if its unit tests had to. Doing so in effect makes the TelemetryClient part of the unit being unit tested, and that is

[2020-02-07 00:38] #1378 closed

[2020-02-07 00:39] #1091 closed

[2020-02-07 00:43] #1027 closed

[2020-02-07 00:45] #1438 closed

[2020-02-07 02:31] Dmitry-Matveev commented on #1635
@silmon27 , thanks for reporting! Can you please share the full stack of the exception or at least a part with Application Insights methods?

[2020-02-07 03:03] Dmitry-Matveev commented on #1505
@kvbreddy, in my repro attempt I was just causing an actual timeout between Service A and Service B by making API in Service B to fail to respond within several minutes.

[code]

Then, another API was just hanging around:
[code]

I'm getting Http Dependency reported after 100 seconds timeout and `System.Threading.Tasks.TaskCanceledException`.

Can you please share some code & hosting/runtime info

[2020-02-07 13:19] jamers99 opened #1672 "Could not load file or assembly System.Memory"
We are experiencing a FileLoadException in one of our unit test projects when calling TelemetryClient.StartOperation.  It was working in other unit test projects, so we decided to narrow it down. We chopped away all our code to the point of a new blank unit test project and we could still reproduce the issue.

## Repro Steps
1. Run the test in this stripped down, simple project we reproduced the i

[2020-02-07 14:31] qJake commented on #1443
Any update on this? Does ASP.NET Core handle script nonces out of the box, or how is CSP being handled going forward with regards to the App Insights injected script tag?

[2020-02-07 17:27] jeffadavidson commented on #1270
@cijothomas do you any update on this?

[2020-02-07 18:31] funnay commented on #1554
Thanks @pharring.

This should be a basic feature for on-premises backend services.

[2020-02-07 22:40] lmolkova commented on #1672
your project missing binding redirect configuration. Unfortunately they are not generated for class libraries in packagereference format. check out this msbuild issue https://github.com/microsoft/msbuild/issues/1310.

You can add app.config with binding redirects similar to
[code]

OR

add following options to your project file

[code]

More on [binding redirect](https://netlify.nickcraver.com/blo

[2020-02-07 22:41] #1672 closed

[2020-02-07 23:14] mrdotmoon opened #1673 "Custom metric ingestion slow"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
We are writing the custom metrics to application insight in asp.net core.  And we have called Flush() every time. But the custom metric ingestion is slow, and it always need to take 2 - 3 minutes to show in the logs. Our service's auto scale is based on these custom metrics and 3 minutes delay will cause so

[2020-02-08 00:17] TimothyMothra commented on #1443
For reference, the snipped comes from here:
https://github.com/microsoft/ApplicationInsights-dotnet/blob/d032dbfdab3059f894aaa0de139a01231ccb997c/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/JavaScriptSnippet.cs#L62-L64

I'm reading up on CSP and I'm not aware of any mechanism in AspNetCore to provide a nonce for us.
- https://vcsjones.dev/2014/12/17/content-security-policy-nonces-in-asp-n

[2020-02-08 00:30] reyang commented on #1540
@GeeWee thanks for letting us know.

The document issue has been fixed [here](https://github.com/MicrosoftDocs/azure-docs/commit/f3611aadf22a59c97e4f3a2d170c6eb3364977f9#diff-fd9dc24c0162dcd81c0b5a013d2bf092).
We will reach out to you and give you a full refund.

Sorry for the inconvenience this has caused.

[2020-02-08 00:30] #1540 closed

[2020-02-08 01:46] kvbreddy commented on #1505
@Dmitry-Matveev, here is the [repo](https://github.com/kvbreddy/testApplicationInsightsDependencyLogging/tree/master/testApplicationInsightsDependencyLogging) of the with which I could reproduce it locally. With Thread.Sleep I too was able to see that dependencies were being logged. But simulating slow speeds(Rules-> Performance->Simulate Modem Speeds) in fiddler, I was able to reproduce it(depend

[2020-02-08 02:39] qJake commented on #1443
@TimothyMothra I have a home-grown `nonce` solution in my ASP.NET Core projects. Basically, the way it works is, I generate a `nonce` value early on in the request pipeline (pseudo-randomly), write it as part of the CSP header, and set it in the `HttpContext.Items` collection. Then, I wrote a tag helper called `auto-nonce="true"` that, if set, will read the same key out of `HttpContext.Items` and

[2020-02-08 14:17] silmon27 commented on #1635
These exceptions are thrown in our code where we access HttpRequest (query, form, ...). There is no Application Insights in the stack, just our own code.
Even directly in
[code]
with very little middleware.

Since we disabled AI a month ago we haven't seen this issue occur anymore, so it must definitely be related somehow.
Any ideas?

[2020-02-10 21:53] MaxiPigna commented on #973
I have the same problem using Microsoft.NET.Sdk.Functions 3.0.3. How can I solve the problem for Azure Function v3?

[2020-02-10 22:43] Dmitry-Matveev commented on #1673
One of the faster ways is to use Metric store, not the Logs store for auto scale. If you are already configuring scaling on top of metric store, and not with AI Analytics query, then you're on the right/fast pipeline.

Is there a way you can set some proactive value for scale alert, so it will react sooner even with 2-3 min delay?

Alternatively, you can go all the way into scaling based on predic

[2020-02-10 22:51] Dmitry-Matveev commented on #1270
@cijothomas , assigned to you to check on the status of your conversation with the code owners.

[2020-02-10 23:05] Dmitry-Matveev commented on #1667
@arabelaa , can you please try using the most recent version of AI SDK? Previous versions had some issues running on .NET Core 3.0.

There is a section in our documentation on how to [migrate from older ILogger implementation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#migrate-from-the-old-applicationinsightsloggerprovider) and a [section about logging from `Program.cs` / `St

[2020-02-11 18:06] TimothyMothra commented on #1443
@qJake thanks for your detailed reply!
This all sounds very reasonable to me. I need to review this one of our architects before we proceed.
I wanted to reply and set the expectation that there won't be a quick turn around on our end but we are taking this seriously.

[2020-02-11 20:35] mrdotmoon commented on #1673
I am using the Azure Kubernetes Service, which's auto scale is using Application insight.
https://github.com/Azure/azure-k8s-metrics-adapter

Looks like they are using api https://api.applicationinsights.io/v1/apps/<appid>/metrics/customMetrics, is it the faster way you were referred to?

[2020-02-11 23:57] Dmitry-Matveev commented on #1673
I think that [this API](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/rest-api-walkthrough#retrieve-metric-values-multi-dimensional-api) retrieves metrics from the metrics storage. It is different from `api.applicationinsights.io` that would query metrics from the log storage.

Default Azure Portal experiences such as metrics charts or alerts should actually query metrics storage a

[2020-02-12 13:25] jorisvergeer opened #1675 "Log4netAppender depends on log4net 2.0.7 on targets that are not .netstandard1.3"
During some code cleanup I entoutered an issue with an assemblybinding

After some looking into the code of Log4Net appender I encountered this curious piece of code in the csproj file.

[code]

What is special about netstandard1.3 that only this target deserves 2.0.8?

## Repro Steps
1. Just add reference to Log4NetAppender

##  Actual Behavior
It depends on log4net 2.0.7

## Expected Behavior
It

[2020-02-12 14:34] DJ4ddi opened #1676 "Operation ID mismatch causes correlation issues"
I have stumbled upon an issue with some custom components which I cannot correctly correlate across different resources. This is because the root operation IDs are not propagated between components.

## Repro Steps
1. Start a request in any web component.
2. Attempt to correlate the request in any non-web component sending data to a different Application Insights resource.

##  Actual Behavior
The

[2020-02-12 17:22] czb182 opened #1677 "Microsoft.ApplicationInsights.WorkerService depends on Microsoft.Extensions.DependencyInjection 2.2 instead of 2.1"
I noticed that the Microsoft.ApplicationInsights.WorkerService nuget package has a dependency on Microsoft.Extensions.DependencyInjection version 2.2.0.  I see Microsoft.ApplicationInsights.WorkerService being advertising for Asp.Net.Core 2.1+ in documentation so seems like it should depend on Microsoft.Extensions.DependencyInjection 2.1.*.

I asked on dotnet repo about matching .NET core version

[2020-02-12 18:34] TimothyMothra commented on #1675
We regularly find things that aren't supported in netstandard1.x
That's the intent here, but i would have expected this to be the other way around. Usually it's the older version that supports the older framework.
Maybe this was a typo.

Thanks for calling attention to this. I'll take a look at it today

[2020-02-12 18:35] TimothyMothra commented on #1676
@lmolkova do you have time to review this?

[2020-02-12 18:51] lmolkova commented on #1676
We are adopting [W3C Trace-Context standard](https://www.w3.org/TR/trace-context/) and it no longer permits having arbitrary correlation id formats.

ApplicationInsights SDK makes best effort to keep Ids if they are compatible and if it fails, then it keeps old one in `ai_legacyRootId` custom property. You can consider it as a warning that your id is not compatible. UX (app-map and transaction vie

[2020-02-12 19:06] SidShetye opened #1678 "Memory leak with Application Insights + asp .net core 3.1 + linux containers"
FYI, this is also being tracked by Azure support as case 119121121001290

## Repro Steps

Please see via my personal repo [here](https://gitlab.com/SidShaytay/aspnetcore3.1memoryleak/) at for both the sample repo as well as the pre-built containers. Also note that the restricted way azure app service spawns containers prevents you from running `dotnet dump` on azure ([issue](https://github.com/dot

[2020-02-12 19:31] TimothyMothra commented on #1677
Thank you for bringing this to our attention.
I'll take a look at it and see if we can downgrade the version.

[2020-02-12 22:17] DJ4ddi commented on #1676
The problem with the standard isn't that I want arbitrary ids, it's the fact that it is inconsistent within the Application Insights SDK. My first component uses the ApplicationInsights.Web package, which automatically assigns an 8 byte id (span id) to the operation. My second component uses ApplicationInsights.WindowsServer and discards that id because it expects a 16 byte id (trace id).

If trac

[2020-02-13 02:39] kblooie opened #1680 "Dependency telemetry from a background service is correlated with the first request"
We use the RavenDB.Client library for data access, which uses HttpClient underneath. Dependency telemetry works great for normal calls. However, the RavenDB library has an ongoing background thread that makes an http request every 10 minutes to get information about the topology of it's cluster. These http requests are sent as dependency telemetry, but they are correlated with the first request te

[2020-02-13 09:55] tommy-ly opened #1681 "Disabling Heartbeats"
Currently trying to disable heartbeats in my ASP.NET Core 3.1 web application with the following code in my startup:

[code]

From what I can tell after reading the documentation the top half of the code (adding application insights telemetry) should have been enough. This didn't work which lead to me google further into the issue which someone had suggested initializing the diagnostics module (al

[2020-02-13 15:18] lucaspimentel commented on #1603
With the repo migration, the new link to the document is:
https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/LibraryInstrumentationGuidance.md

[2020-02-13 17:33] pharring commented on #1678
@SidShetye For the purposes of elimination (or confirmation), can repeat the test, but without the "Profiler.AspNetCore" package?

[2020-02-13 19:32] lmolkova commented on #1676
Can you elaborate on

Can you explain your apps including versions of AI SDK and which protocol they used to communicate between each other? If you manually propagate ids from queue, can you share how you do it with some code snippets?

[2020-02-13 19:39] SidShetye commented on #1678
We've spent a ton of time on this to date (see case 119121121001290 and it's master case) and can't really sponsor any additional time. Since we've have identified the product causing this and even have a repro repo, the idea is you (the vendor) debugs this this point on.

The leak could be from anywhere in Application Insights but what I can add from the top of my head is that we did see an almos

[2020-02-13 23:44] SidShetye commented on #1678
@pharring I should mention, the support case 119121121001290's secure file exchange areas has memory dumps of this situation. There is a reference dump a few minutes after starting and then 2 days when the memory consumption is 1.4 GB. The container eventually died after a total of 3 days of uptime where even a simple ps wouldn't fork.

[code]

[2020-02-14 09:53] SychevIgor commented on #1152
Microsoft, you mentioned that we should use "codeless" application insights integration for azure functions, but problem is that this integration ignore all soft of parent/child relations, w3c context context and make disturbed tracing - impossible. https://github.com/w3c/correlation-context/

From my perspective - suggest only "codeless" is a bit to strong best practice.

[2020-02-14 12:55] DJ4ddi commented on #1676
### Structure
Component A is an Azure App Service running _Microsoft.ApplicationInsights.Web_, v2.12.1; It receives requests via a WCF SOAP API from mobile clients.
From there, a message is passed through a one-directional Azure Service Bus using _WindowsAzure.ServiceBus_. Because this library does not support automatic context propagation (unlike the newer variant of it), we append the current op

[2020-02-14 18:18] SidShetye commented on #1678
@pharring I'm uploading some of the prior work from our support ticket here for easy access. It's off the VS2019 template reproduce repo above (no proprietary bits), so safe for public distribution.

**Memory dumps**: Uploaded to Azure Storage [here](https://crypterondiag.blob.core.windows.net/reported-issues/appinsight-memory-blowup/2020-02-12_09_14_00%20generic%20aspnetcore3.1%20AppInsights%20me

[2020-02-14 18:24] lmolkova commented on #1676
Thanks for the code snippets, it really helps

https://github.com/microsoft/ApplicationInsights-dotnet/blob/d032dbfdab3059f894aaa0de139a01231ccb997c/BASE/src/Microsoft.ApplicationInsights/Extensibility/Implementation/OperationTelemetry.cs#L112

this line generates requestTelemetry.Id, not request.Context.Operation.Id, operation.Id should be 16 bytes.

If I create an empty WebApi or MVC app and ena

[2020-02-16 06:25] syndicatedshannon opened #1684 "Azure "App Configuration" not respected"
## Issue Summary
`IServiceCollection.AddApplicationInsightsTelemetry()` data is not collected to the `ApplicationInsights:InstrumentationKey` destination set in my "App Service"-connected "App Configuration" service.

The same `APPINSIGHTS_INSTRUMENTATIONKEY` configured directly in my "App Service" "Application Settings" results in successful data collection.

## Repro Steps
1. enable telemetry as

[2020-02-16 13:20] tukaef opened #1685 "Some perf counters aren't collected when app is hosted on Azure WebApp"
## Repro Steps
1. Specify the following pefr counters to collect:
- `\.NET CLR Memory(??APP_CLR_PROC??)\# Total committed Bytes`
- `\ASP.NET Applications(??APP_W3SVC_PROC??)\Request Bytes In Total`
- `\ASP.NET Applications(??APP_W3SVC_PROC??)\Request Bytes Out Total`

##  Actual Behavior
The counters aren't collected. The following message is logged:

Counter \.NET CLR Memory(??APP_CLR_PROC??)\# T

[2020-02-16 13:35] tukaef commented on #1685
I can see some differences between property names in [CounterFactory.cs](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/Src/PerformanceCollector/Perf.Shared/Implementation/WebAppPerformanceCollector/CounterFactory.cs) and the environment variable properties (an example [here](https://github.com/projectkudu/kudu/wiki/Perf-Counters-exposed-as-environment-variables), I get t

[2020-02-16 13:53] tukaef opened #1686 "All perf counters stop being collected when any of faulty counters are specified to collect on Azure WebApps"
This is a consequence of #1685. When any of the counters in question is specified, the collector stops collecting the other counters after 5-6 successful iterations.

## Repro Steps
1. Specify any of the following counters to collect:
- `\.NET CLR Memory(??APP_CLR_PROC??)\# Total committed Bytes`
- `\ASP.NET Applications(??APP_W3SVC_PROC??)\Request Bytes In Total`
- `\ASP.NET Applications(??APP_W3

[2020-02-16 14:18] tukaef commented on #1686
This is likely due to WebAppPerformanceCollector.RefreshCounters [throwing an exception](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/Src/PerformanceCollector/Perf.Shared/Implementation/WebAppPerformanceCollector/WebAppPerformanceCollector.cs#L149) when [PerformanceCollectorModule.EnsurePerformanceCountersRegistered](https://github.com/microsoft/ApplicationInsights-dotn

[2020-02-16 16:05] syndicatedshannon opened #1687 "Unclear what App Service "Turn on Application Insights" does"
It's unclear what the "Turn on Application Insights" button/process/wizard found in the Azure Portal : App Service : Application Insights management blade does.

It is unclear both at

- high level (e.g. I *think* it "onboards via Azure Extension, one of the 3 available mechanisms to enable Application Insights for App Service, but it looks like I'll have to start reverse engineering to verify)
-

[2020-02-16 22:47] grahambunce opened #1688 "NLog Application Insights Target needs a fallback for Instrumentation key"
Looking at this source code

[code]

It appears that if the InstrumentationKey isn't set in the NLog config file (assuming not configuring by code) then NLog will not integrate with AI. My testing seems to demonstrate this; no key in the xml = no AI logging.

This doesn't play nice with Azure DevOps File Transform tasks, which only performs variable substitution on specific config file sections. T

[2020-02-16 23:06] danspam opened #1689 "Heartbeat not working for WorkerService"
The heartbeat relies on IHeartbeatPropertyManager being available on `TelemetryModules.Instance.Modules`, however this collection is empty when you add AI using `services.AddApplicationInsightsTelemetryWorkerService()`.

You can make it work by adding, for example, `var _ = TelemetryConfiguration.Active;`, which initialises `TelemetryConfigurationFactory` adds the `DiagnosticsTelemetryModule` to t

[2020-02-17 06:26] snakefoot commented on #1688
`InstrumentationKey` is NLog Layout, so you can make your own lookup/fallback-logic:

https://github.com/NLog/NLog/wiki/ConfigSetting-Layout-Renderer
https://github.com/nlog/nlog/wiki/Environment-Layout-Renderer
https://github.com/nlog/nlog/wiki/WhenEmpty-Layout-Renderer

Maybe something like this:

`InstrumentationKey="${configsetting=APPINSIGHTS.INSTRUMENTATIONKEY:whenEmpty=${environment=APPINSI

[2020-02-17 10:16] DJ4ddi commented on #1676
They're always the same for the first request of the pipeline. From your words, I assume that should not be the case?

There is one custom initializer that I mostly copied from the [experimental WCF AI SDK](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/tree/master/WCF) and then forgot (sorry about that). Maybe that is the missing detail and the reason why the request id is used for the

[2020-02-17 21:23] grahambunce commented on #1688
@snakefoot Thanks but this doesn't appear to work. it generates an error when parsing the nlog.config file.

"Error when setting property 'InstrumentationKey' on ApplicationInsightsTarget Target[(unnamed)]" and then on the inner exception: "LayoutRenderer cannot be found: 'environment=APPINSIGHTS_INSTRUMENTATIONKEY' "

I can confirm that APPINSIGHTS_INSTRUMENTATIONKEY exists as an Environment Vari

[2020-02-17 22:07] snakefoot commented on #1688
Sorry about the confusion. Yes `${environment=APPINSIGHTS_INSTRUMENTATIONKEY}` was incorrect (Have updated my comment).

This will lookup the environment variables on the machine. If having access:

`<instrumentationKey>${environment:APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>`

[2020-02-17 23:37] TheXenocide commented on #1062
This issue is a little bit old, but we also have need of this behavior. The SDK currently assumes that correlation with PageViewTelemetry will happen naturally because the JavaScript SDK will associate its DependencyTelemetry with the root page view and, as the headers arrive to the server when receiving a request, will be passed into the RequestTelemetry. We actually use the PageViewTelemetry cla

[2020-02-17 23:48] TheXenocide commented on #1062
Actually another note about the incompleteness of PageViewTelemetry in the .NET SDK is that it doesn't automatically generate IDs like other telemetry does; OperationContext has an internal GenerateId method that would need to be run in the PageViewTelemetry constructor; since the context operation will likely always be null, it might be more helpful for the equivalent of StartOperation to do some

[2020-02-18 15:46] DJ4ddi commented on #1676
The good news is: I found and fixed the initializer that used the request id as operation id. I can now use the same id for the entire pipeline.

Unfortunately, that didn't help me reach my goal, as the transaction viewer still does not unify items across different resources (even though they have the same operation id). As this isn't within the scope of this issue, I'll close it.

Thank you for h

[2020-02-18 15:46] #1676 closed

[2020-02-18 17:15] TheXenocide commented on #1062
For reference, this is not a newly discussed issue and works correctly as long as your `PageViewTelemetry` is from the JavaScript SDK. I mentioned this previously and we're now upgrading our components for .NET Core support and are still having the same issue. In #47 I asked if it would be possible to make sure page views were included which I think might have been glossed over, although I do thin

[2020-02-18 17:42] TheXenocide commented on #1062
CC @TimothyMothra since it seems you're the main person maintaining the BASE SDK and @lmolkova since you have made changes related to the W3C IDs in recent history. This issue hasn't had much comment history besides myself in recent history, but it's somewhat important to us and I was hoping someone with current responsibility in this area could help me get the ball rolling?

[2020-02-18 18:07] Dzoukr commented on #1029
Any update on this?

[2020-02-18 18:22] lmolkova commented on #1676
@DJ4ddi

thanks for the update! the feature that stitches telemetry across AppInsights resources is being under test (it only works over http), it will be released in several month.

[2020-02-18 18:27] TimothyMothra commented on #1688
Thank you both for finding a solution.
I'm going to reopen this task as a reminder to update our documentation with some more explicit examples.

[2020-02-18 18:38] TimothyMothra commented on #1029
Hi @Dzoukr, I wasn't aware this was still an issue.
Do you by any chance have a stack trace?

[2020-02-18 18:47] Dzoukr commented on #1029
Oh, sorry, I mixed errors, my fault. I got

[code]

But this is obviously different one. Sorry again. :(

[2020-02-18 18:55] TimothyMothra commented on #1029
No worries, it looks like we should have closed this issue a year ago. :)

Regarding the new error you quoted, I've seen that when customers try to have two versions of the SDK in the same process.
Can you tell me a little bit more about how you set up Application Insights in your application?
Or feel free to create a new issue, we have a questionnaire that helps us get started investigating.

[2020-02-18 19:58] TimothyMothra commented on #1062
Hi @TheXenocide, yeah our team has been stretched thin recently.
@Dmitry-Matveev, @lmolkova is there a historical reason that `PageViewTelemetry` doesn't implement `OperationalTelemetry`?

https://github.com/microsoft/ApplicationInsights-dotnet/blob/5e1092514e8e84677baa706421b6685f1c4c0d6a/BASE/src/Microsoft.ApplicationInsights/DataContracts/PageViewTelemetry.cs#L21

https://github.com/microsoft/A

[2020-02-18 22:04] TimothyMothra opened #1690 "Security/Privacy Bug Fix: SQL command collection off by default [change in behavior]"
We're introducing a new change in 2.14 which will disable the collection SQL command text by default.
We understand this will likely be a breaking change for many customers, but this is being addressed as a security and privacy bug fix.

This will be introduced in 2.14-Beta1 and the stable release will be early April.

Before then we MUST update public documentation and add a post on our Announcem

[2020-02-18 22:04] TimothyMothra commented on #1690
#1514

[2020-02-18 22:05] TimothyMothra commented on #1690
@Dmitry-Matveev  @reyang @ank3it

[2020-02-19 00:20] TimothyMothra commented on #1685
@tukaef we gladly accept contributions to our SDK. :)

I don't have the context on PerfCounters. @cijothomas Can you comment?

[2020-02-19 00:34] #1688 closed

[2020-02-19 07:24] Dzoukr commented on #1029
Yes, I can tell you more. I am trying to create own `TelemetryClient` on Startup of functions host. It is mainly because of this issue: https://github.com/Azure/azure-functions-host/issues/5353

[2020-02-19 17:31] SuberFu commented on #1554
Does setting that proxy actually helps? I tried it and Application Insights does not appear to use proxy.

I'm on dotnet core 3.1

[2020-02-19 17:58] TheXenocide commented on #1062
Just a note that above I said to add an extension method to `OperationTelemetryExtensions` but I'm in the code and it becomes apparent I meant `TelemetryClientExtensions`

[2020-02-19 18:13] TimothyMothra commented on #1029
Okay that makes more sense.
Because Azure Functions comes with the SDK already configured, creating your own TelemetryClient can cause the duplicate SDK issue. ("an instance already exists").

Can you please try the code sample here and let me know if this works:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#version-2x-and-later-2
This uses dependency injection to gra

[2020-02-19 18:19] TimothyMothra opened #1693 "AI Internal error "An instance of EventSource with Guid XXX already exists.""
**TODO: Need to add this to the official FAQ.**

The full error is something like this:

This can occur whet the Application Insights SDK is initialized twice in the same process.
This is common in Azure Functions when users try to set up their own TelemetryClient.

The recommended fix is to use dependency injection to grab Function's `TelemetryConfiguration` and create a new `TelemetryClient` fro

[2020-02-19 18:42] Dzoukr commented on #1029
But that's the issue. I am on v3 and dependecy injection of TelemetryConfiguration into constructor does not work. That's what I tried to work around and endup here. :)

[2020-02-19 19:06] reyang opened #1694 "PerformanceCounter implementation is taking large memory allocation"
The following code is causing large memory allocation:

https://github.com/microsoft/ApplicationInsights-dotnet/blob/58618d7aaad5407d8fb5f6837fdc8e1096f88394/WEB/Src/PerformanceCollector/Perf.Shared/Implementation/PerformanceCounterUtility.cs#L494

Suggested improvement:
[code]

[2020-02-19 19:07] TimothyMothra commented on #1029
@Dzoukr gotcha. can you please tell me the version number of the SDK referenced by your application?

Sometimes version mismatches between customer applications & Functions can cause "weirdness".
Looking at their NuGet, looking at their dependencies on our SDK...
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/
It appears that they are on AspNetCore v2.8/ Base v2

[2020-02-20 06:49] Dzoukr commented on #1029
@TimothyMothra thanks for helping me, really appreciate it!

Here are the versions of packages:

[code]

and from local tools:

[code]

[2020-02-20 13:56] dancundy commented on #1443
This solution would be great. I use a also helper lib to manage my nonces.

[2020-02-20 17:55] TimothyMothra opened #1699 "NetCore 3.1 incompatibility with SDK dependencies?"
*This issue was originally reported on [Azure docs](https://github.com/MicrosoftDocs/azure-docs/issues/45544)*

-----

@SamShekhovtsov reported an issue:

I was unable to reproduce this in a new web application with default settings.

@gogux was able to reproduce this:

[2020-02-20 18:03] #1622 closed

[2020-02-20 18:06] TimothyMothra commented on #1633
Just posting an update.
This continues to be an annoyance. I spoke to Sergey a couple of months ago and we agreed that common helper methods could be added to the base SDK.

I'm going to close this issue because Liudmila's suggestions have become our best practices.

[2020-02-20 18:06] #1633 closed

[2020-02-20 18:23] TimothyMothra commented on #1029
@Dzoukr does your application have any direct dependencies on Microsoft.ApplicationInsights ?

[2020-02-20 18:39] TimothyMothra commented on #1029
Oh, apparently this might be related to an ongoing issue with Functions v3.
https://github.com/Azure/azure-functions-host/pull/5551
You actually linked to this earlier but I missed the connection.

Reading through their comments, they have several fixes and they've already started their release process but I don't know their ETA.

Are you able to wait for their update?
If you can't wait, is downgr

[2020-02-20 18:41] Dzoukr commented on #1029
@TimothyMothra I can wait, no problem with that.

Thanks again for helping me even I got here with different error. :smile:

[2020-02-20 21:37] TimothyMothra commented on #1689
@cijothomas please review.

[2020-02-20 22:34] TimothyMothra commented on #1685
I got some information about this...
Azure WebApps exposed these perf counters on our team's request.
We think they probably had the initial typos and misspellings.
It's possible that someone on their team corrected the typos, which would have broken our integration.
This needs some further investigation.

[2020-02-20 22:35] TimothyMothra commented on #1686
Hi, your explanation makes sense.
I don't have time to investigate this right now, but we would gladly accept your PR. :)

[2020-02-20 23:33] TimothyMothra commented on #1653
I'm abandoning this issue. I will recreate an issue when we finish the spec.

[2020-02-20 23:33] #1653 closed

[2020-02-20 23:34] #1694 closed

[2020-02-20 23:35] #1527 closed

[2020-02-21 00:42] Dmitry-Matveev commented on #1062
@TimothyMothra ,@TheXenocide , @Expecho , speaking of historical reason, I think I remembered the origins of AI stopping to consider PageView as operation. Several years ago, monitoring charters for services and desktop/mobile were split between Application Insights and App Center. AI stopped supporting WPF apps where page view was the top-most operation, so our modifications for operation API at

[2020-02-21 16:01] TheXenocide commented on #1062
Yeah, that's the impression I had, though it makes the `PageViewTelemetry` class pretty much pointless to have. There's nothing about it that works on its own for any purpose beyond registering a Name. The `OperationTelemetry` have mechanisms for automatically calculating duration and correlating and such. I almost wonder why the class exists at all, since it provides some false sense of implement

[2020-02-21 16:14] TheXenocide commented on #1062
So as I look at it, apparently only the lambda expressions use `Activity` which I think is how `TryRun` can work the way it does. Feel free to disregard that part.

[2020-02-21 17:04] mnelvers opened #1701 "ApplicationInsights and log4net logging do not work together"
We have an application that runs as a Windows service.  Over the course of several days it appears to have a memory leak.  The application uses log4net to log information to a table in an Informix database.  That has been working forever.  I attempted to add ApplicationInsights to the application to monitor the memory usage.  I was able to add ApplicationInsights and collect telemetry via an Azure

[2020-02-21 17:07] pzbyszynski commented on #1334
@andrewleader Thx for taking time to describe your solution, unfortunately, it will not solve my problem because I need to log SQL dependencies, just not SQL command text

@lmolkova Any news on that? Also, why following code works on .net core web API hosted on App Service and does not work on Azure Functions (SQL command text is still logged)

[code]

[2020-02-21 17:59] TimothyMothra commented on #1062
Hey, the PublicApiAnalyzer is kind of a pain in the ass.
It's a deprecated project, but we haven't found a better alternative yet.

For compile issues it's usually an access modifier is missing, or maybe a statement didn't get copied to another text file (There's a text file each framework.)
The compile-time errors are often not helpful. Feel free to disable that package if it unblocks you and one

[2020-02-21 18:24] TimothyMothra opened #1702 "AspNetCore AddApplicationInsightsSettings() and MissingMethodException"
This was brought to my attention by @brettsam

----

In  AppInsights.AspNetCore 2.12.0 I changed the method signature of `AddApplicationInsightsSettings` by adding the optional parameter `connectionString`.
https://github.com/microsoft/ApplicationInsights-dotnet/blob/0076e0fac81a6a7fadb36b390a863fc2024c1e84/NETCORE/src/Shared/Extensions/ApplicationInsightsExtensions.cs#L163-L168

This can cause a

[2020-02-21 19:14] TimothyMothra commented on #1702
I have a repro and I'm verifying the fix.

I'm trying to keep both method signatures (old and new), but this can cause **AmbiguousMatchException**.

I think the solution is going to look like this:
[code]

Note that `connectionString` can't be an optional parameter because that causes the Ambiguous exception.
The only fix is going to be moving it to the first parameter, which will be a breaking ch

[2020-02-22 00:31] Dmitry-Matveev commented on #1684
Can you trace the value that actually gets assigned to IKey in runtime? Is it the one you'd expect and is matching the one previously provided in `appsettings.json`?

You are correct, regardless of IKey source, if the right IKey is provided at the initialization time as a configuration method parameter or as an environment variable `APPINSIGHTS_INSTRUMENTATIONKEY`, the end result should be the sam

[2020-02-22 00:54] TimothyMothra commented on #1702
The fix has been published to NuGet and should be generally available within an hour.

- https://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore/2.12.2
- https://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore/2.13.1
- https://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore/2.14.0-beta2

[2020-02-22 00:54] #1702 closed

[2020-02-22 01:53] Dmitry-Matveev commented on #1062
@SergeyKanzhelev , what were our plans on PageViewTelemetry type and would they contradict or support @TheXenocide 's suggestion?

[2020-02-22 02:14] Dmitry-Matveev commented on #1505
@kvbreddy , I was able to reproduce the issue with the solution provided and the Fiddler's modem simulation. Unfortunately, I wasn't able to debug with 2.10 version of Dependency Collector (symbols were not available on symbol server).. After updating to 2.13 version of SDK and, consequently, to 2.13 version of Dependency Collector, symbols were hooked up but the issue changed a little: now, the D

[2020-02-22 03:22] syndicatedshannon commented on #1684
mmmm... probably? LOL. We'll have to provision and configure a dev copy of App Configuration service, or remember how to remote debug in Azure. Don't close this if you don't hear back from me today ;)

[2020-02-22 14:56] pharring commented on #1678
@xiaomi7732 can you take a look?

[2020-02-24 12:29] syndicatedshannon commented on #1684
@Dmitry-Matveev I just started investigating this further (started configuring another Azure resource group, etc.) and came across a distinction I didn't know existed; host vs. app configuration. I suppose Application Insights uses host configuration? I want to make sure I'm inspecting the right IKey in my efforts.

If I knew when the value needed to be available by. I haven't dug into AI internal

[2020-02-24 17:46] cijothomas commented on #1690
@TimothyMothra Lets mention explicitly that this only affects .NET Core apps. For .NET Framework, SQL command was not collected by default and required additional steps.

[2020-02-24 17:49] cijothomas commented on #1690
https://github.com/microsoft/ApplicationInsights-Announcements/issues - we can announce it here instead of a blog post?

[2020-02-24 18:07] cijothomas commented on #1684
@syndicatedshannon
The follow issue is related.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1566
By default, SDK looks for ikey in the documented places only.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1566#issuecomment-486809909

[2020-02-24 19:24] TimothyMothra commented on #1443
So the plan is to add a new public property:
- `JavaScriptSnippet.FullScript` (existing)
    Provides the <script> tag and the script body
- `JavaScriptSnippet.ScriptBody` (new)
    Will provide only the script body

I'm going to try to get a PR for this today or tomorrow.

[2020-02-24 19:28] cijothomas commented on #1681
@tommy-ly The top half should be enough to disable heartbeats. I validated that it works. (i.e i can disable heartbeats)
Following is my full ConfigureService method in a .net core 3.1 app.
[code]

Please share the exact snippet you are using and we can investigate further. Doing `new DiagnosticsTelemetryModule();` is NOT needed and wont have the effect you desire.

[2020-02-24 19:46] syndicatedshannon commented on #1684
@cijothomas Would you please clarify? I'd already read that documentation thoroughly, and reread the relevant section multiple times before reporting a defect. Note that I had not yet seen #1566

By "looks in the documented places only", you mean the specific Application Insights document section you linked, which includes: environment variables, and appsettings.json in the application root?

Note

[2020-02-24 20:38] cijothomas commented on #1684
Yes.

Other Azure experiences like WebApp configuration wizards does this internally. (it sets APPINSIGHTS_INSTRUMENTATIONKEY env variable)

[2020-02-24 20:47] cijothomas commented on #1684
If your goal is to use ikey from a non-standard place, then use the `.AddApplicationInsightsTelemetry(Configuration) ` overload instead of .AddApplicationInsightsTelemetry()` .

[2020-02-24 20:50] syndicatedshannon commented on #1684
FYI, the Azure wizard also did this:
![image](https://user-images.githubusercontent.com/905156/75189957-ef103280-5714-11ea-9fc4-68296aa76dd7.png)

[2020-02-24 20:59] cijothomas commented on #1685
@TimothyMothra I think AI SDK had this typo from day 1. We can just fix the typos.
 We can take a PR which fixes these typos.

[2020-02-24 21:00] syndicatedshannon commented on #1684
thank you @cijothomas , I appreciate your follow-up.

I definitely don't desire to use a "non-standard place" for configuration. My entire purpose behind refactoring my configuration into Azure App Configuration service is to follow supported standards.

IConfiguration is probably the gold standard for ASP.NET Core configuration; and supporting a file named `appsettings.json` while not supporting

[2020-02-24 21:01] syndicatedshannon commented on #1684
Side note, not to call out @Dmitry-Matveev for helping ;), but notice they had the same expectation as I did when they first commented here.

[2020-02-24 21:05] syndicatedshannon commented on #1684
It's a small amount of work, and not a big deal to add the small extension method to our proprietary code, to load from IConfiguration. I only dispute the definition of standard because I think it's relevant to AI product and documentation quality.

Would love to see either the documentation or product enhanced/improved, but you've given us what we need to solve. Thanks, and cheers!

[2020-02-24 21:16] cijothomas commented on #1686
@tukaef Thanks for reporting and investigating the issue. Please submit a PR if you have time.

[2020-02-24 21:27] cijothomas commented on #1334
@pzbyszynski Can you share how you added SqlQueryTextTelemetryProcessor to the configuration in Azure Functions? I suspect the issue is Azure Functions not picking up your added processor.

[2020-02-24 21:37] cijothomas commented on #1680
Can you share how you set parentid to null for these background calls? If parentid is indeed set to null, then UI shouldn't be able to correlate it to any parent.
(We still need to investigate why the parentid from 1st request is still persisting..)

[2020-02-24 21:43] #1496 closed

[2020-02-25 00:36] TimothyMothra opened #1707 "FileLoadException: Could not load file or assembly System.Memory"
We're seeing a high volume of these errors reported in our telemetry:

This seems related to https://github.com/dotnet/runtime/issues/745
The DotNet team has responded:

The DotNet team is working on a fix but does not have an ETA.

At this time we don't have a workaround, but I've read that some people are having success with binding redirects.

[2020-02-25 03:27] noahfalk commented on #1678
Any chance we can get these dumps back with a longer expiration time? Folks on the AppInsights team asked if I could take a look but at the moment I have access to neither the dumps nor a valid ikey to make progress. If possible the dumps sound are likely to be a much faster way to get useful info than waiting to get the repro set up and leaking again.

[2020-02-25 03:50] SidShetye commented on #1678
Traveling, on mobile but this should work
https://crypterondiag.blob.core.windows.net/reported-issues/appinsight-memory-blowup/2020-02-12_09_14_00%20generic%20aspnetcore3.1%20AppInsights%20memoryleak.zip?sp=r&st=2020-01-02T03:47:31Z&se=2020-05-01T10:47:31Z&spr=https&sv=2019-02-02&sr=b&sig=rv1HBvhY%2FP8EcY%2FFV4XdKff7S6mmLe8u0rNx6Q09YlQ%3D

[2020-02-25 16:46] cijothomas commented on #1569
@EngSayed Performance counters should continue to flow (every 1 min) irrespective of application is receiving requests or not, as long as the process is alive. Can you share more details about your setup so we can figure out why you are seeing perf counters disappearing..

[2020-02-25 16:52] cijothomas commented on #1654
@fatihyildizhan https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application Follow this doc if you want everything setup easily with a one liner. The doc is targetting console/non-http apps, but can be used in WPF as well if desired.

[2020-02-25 19:02] cijothomas commented on #1559
@Taudris `DiagnosticsTelemetryModule` is added, but in a different way. So you dont need to add this yourself.
What is it that you are trying to achieve? I can try to help based on your actual goal.

[2020-02-25 19:20] cijothomas commented on #1645
This is best asked in Serilog repo.
Getting logs in Worker service is documented here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service

[2020-02-25 19:20] #1645 closed

[2020-02-25 19:24] #1675 closed

[2020-02-25 20:57] ZeinSleiman commented on #1645
Thanks for your reply. I ended posting it on the Serilog repo but I havent heard back from anyone there. I did read the document you shared and it didnt help in explaining the problem.

[2020-02-26 08:17] noahfalk commented on #1678
Thanks @SidShetye ! A dev on my team started looking at the dumps today and ruled a few things out but didn't get to a root cause yet. We'll update once we learn more.

[2020-02-26 12:31] Expecho commented on #1062
Any news? Maybe we can continue creating a (Draft) PR to not loose the momentum gained.

[2020-02-26 13:16] OnamChilwan opened #1716 "Logging Worker Service Dependency Tracking"
I am trying to use ILogger as its recommended that we don't directly inject TelemetryClient but I noticed some oddities doing this and perhaps I have configured something incorrectly.

In a nutshell, I am injecting ILogger and doing some logging. For example:

            using (var scope = this.logger.BeginScope(new Dictionary<string, string>
            {
                { "MyReference", "HelloW

[2020-02-26 14:16] zsonglorman opened #1717 "Custom metric namespace name missing"
I'm trying to create custom metrics with custom namespaces, but the custom namespace names are not shown on Azure portal - Application Insights - Metrics tab. In the screenshot you can see 3 different custom namespaces, though their names are missing.

![image](https://user-images.githubusercontent.com/19626247/75352881-befa9800-58aa-11ea-988e-cc2130187bd4.png)

Here is the line which sends the me

[2020-02-26 14:18] pzbyszynski commented on #1334
@cijothomas

In `Startup.cs` I add it like so:

[code]

Also, I am using functions V3

[2020-02-26 15:53] bjornharrtell commented on #1152
The issue with Microsoft.ApplicationInsights.NLogTarget persists and is related to https://github.com/microsoft/ApplicationInsights-dotnet/issues/1457 and specifically that the obsolete method is used at https://github.com/microsoft/ApplicationInsights-dotnet/blob/bf6996a3d9b88bfe67c48a703d2f8ad3648a9faa/LOGGING/src/NLogTarget/ApplicationInsightsTarget.cs#L117-L119 with suppressed warnings and no

[2020-02-26 21:22] qJake commented on #1443
@TimothyMothra This is awesome. And just to come full circle so I understand how this is going to work... if we look at the [client-side snippet documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#enable-client-side-telemetry-for-web-applications), it says to add this line:

[code]

Which, for this PR, we can optionally change to:

[code]

Correct? 😁

[2020-02-26 21:24] TimothyMothra commented on #1443
Correct!
The idea is to give you full control over that script tag.
I have a PR for this now, but I was waiting to get some feedback.

[2020-02-26 21:28] qJake commented on #1443
I love it! I can't think of any scenarios where this wouldn't be flexible.

And I suppose that if someone decided to define the script tag as, say, `<script async defer>` and that caused telemetry issues... that's on them (and/or that's a documentation issue that should be noted as such).

[2020-02-26 22:10] TimothyMothra commented on #1699
This is the full verbose log:

### System.Data.SqlClient
[code]

### System.Diagnostics.PerformanceCounter
[code]

### System.IO.FileSystem.AccessControl
[code]

[2020-02-26 22:13] TimothyMothra commented on #1699
This is super confusing. I'm trying to make sense of the verbose log.

I have this test app:
[code]

Microsoft.ApplicationInsights.AspNetCore depends on Microsoft.ApplicationInsights.DependencyCollector depends on Microsoft.Data.SqlClient (v4.3.1).
SqlClient package version 4.3.1 is assembly version 4.1.0.
This is the full build error from my test app:
[code]

So I tested a local build using SqlCl

[2020-02-26 22:34] cijothomas commented on #1716
The approach using telemetry clients StartOperation is the right way of doing it as documented here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application

ILogger scopes cannot be used to group together telemetry.

[2020-02-26 22:34] #1716 closed

[2020-02-27 12:48] EngSayed commented on #1569
@cijothomas We have ASP.NET MVC application and we have **ApplicationInsights.config** file which has:
`    <Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.PerformanceCollectorModule, Microsoft.AI.PerfCounterCollector">
    </Add>`

And as mentioned before if there are any web requests to the web application then there are per counters in Application Insights otherwise

[2020-02-27 18:22] cijothomas commented on #1569
@EngSayed I cannot tell why your counters are missing after some time without additional info. Did you verify that the process is still running? Can you verify if LiveMetrics shows that app is up and running?

[2020-02-27 20:08] TheXenocide commented on #1062
I had started one, but my approach was too simple and the path I go down next is rather dependent on these correlation questions regarding whether it's okay for a PageView to be nested or not.

Another related subject came up around here as we've just had a conversation with @danroth27 regarding Blazor + Application Insights and I've been digging in to see how best we would take advantage of our e

[2020-02-27 20:41] TheXenocide commented on #1062
Also, @novotnyllc (or @onovotny - not sure if one is preferable over the other for issue discussion) - it seems like it might be worth looping you into this discussion? I've recently stumbled on your `AppInsights.WindowsDesktop` library and I'm wondering if you have any experiences with correlating your PageViewTelemetry with outgoing DependencyTelemetry? The previous comment is about our newer in

[2020-02-27 21:50] TimothyMothra commented on #1699
Reaching out to dotnet runtime for help... @joperezr do you have any thoughts?

[2020-02-27 22:58] Dmitry-Matveev commented on #1639
@cijothomas , can you please take a look, as per description it might be related to Event Counters collection module?

[2020-02-27 23:57] TimothyMothra commented on #1717
Hello, can you please provide two things:
- what's your SDK version?
- Can you please provide us the json object that's being sent from your application? You can capture this from the console output of Visual Studio while debugging, or using a tool like Fiddler. We want to see what was sent to our ingestion to identify is this an ingestion/parsing bug or did the sdk fail to send the custom metric

[2020-02-28 00:45] TimothyMothra commented on #1699
I got confirmation that this appears to be related to #1707.
We should get a deeper explanation of the problem in the next few days.
I've been told the dotnet team already has a fix for this due to be released in mid-March.
After the fix is available, we (Application Insights) will need to update some of our dependencies.

[2020-02-28 09:08] EngSayed commented on #1569
@cijothomas What do you mean that the process is still running?
As In LiveMetrics it does not show anything if there are no requests on the website

[2020-02-28 10:45] zsonglorman commented on #1717
Hello, thanks for your answer.

My Microsoft.ApplicationInsights version is 2.13.1.

Here is the JSON sent (namespace is included):

[code]

Surprisingly, today when I checked on Azure Portal, the metric namespace names are shown magically, although I didn't change anything on our side. Was something fixed on your side?

![image](https://user-images.githubusercontent.com/19626247/75542205-9cd65680

[2020-02-28 16:50] cijothomas commented on #1334
@pzbyszynski I just learned from Azure functions that, Functions do not support adding custom telemetry processors. So the above will not work.
We are working with Azure functions to add this support, no ETA yet.

[2020-02-28 17:13] cijothomas commented on #1569
The process should not have died when there are no requests - Some systems shut down the process when there is no activity.

[2020-02-28 18:57] TimothyMothra commented on #1717
Based on this I don't think there was an SDK bug, and you're on the latest version of our SDK. :)
Our UX team has daily deployments so it's possible that they broke something and then rapidly fixed it. To be honest, I wouldn't know.

I'm sorry you were affected, but I'm happy to hear your issue has been resolved!
I'm going to go ahead and close this issue, but if you have additional questions plea

[2020-02-28 18:57] #1717 closed

[2020-02-28 19:40] joperezr commented on #1699
I had a bit more time to look at this today. The problem in here seems to be different than #1707. To start, the first problem here is that you shouldn't be setting the property `AutoGenerateBindingRedirects` on a netcoreapp project as binding redirects aren't even a thing in netcoreapp, they are only a concept in .NET Framework. Actually I believe it's even a bug on the SDK to start running the b

[2020-03-02 05:46] togglebrain commented on #1382
Facing the same issue, need appinsights on an application that is using Microsoft.Azure.EventHubs, which in turn depends on System.Diagnostics.DiagnosticSource. Assembly binding does not help. Is there a fix available?

[2020-03-02 12:47] nmaarse commented on #1152
Can you please update the readme file on the applicationinsight pages?
https://github.com/serilog/serilog-sinks-applicationinsights
The example provided still uses the obsolete version. Can you provide an example that reads the intrumentation key from the environment?

[2020-03-02 17:05] cijothomas commented on #1152
For serilog - can you please open a separate issue in serilog repo, as we (owners of this repo) don't own serilog integration.

[2020-03-02 19:45] TimothyMothra commented on #1382
@Dmitry-Matveev please review

[2020-03-02 20:26] #1685 closed

[2020-03-02 22:40] #1686 closed

[2020-03-02 23:04] Dmitry-Matveev commented on #1382
@Mikhail-msft , I thought we have shipped the version that automatically backs-off in case of conflicting assemblies, have we had some regression or the issue @togglebrain experiences is something new?

[2020-03-03 03:42] Mikhail-msft commented on #1382
@togglebrain could you confirm what is the exact issue you see (is it "no data" or the app is crashing?) and in what environment (App Service/Azure VM/Cloud Service/status monitor v2?) it happens?
@heyams FYI for issue reported by @DaleyKD .

[2020-03-03 08:41] togglebrain commented on #1382
We are observing "no data" issue with multiple app services. Checked with azure support team also and they suggested removing the System.Diagnostics.DiagnosticSource dll but that crashes the app since its a dependency for the event hubs library in use in our APIs.

[2020-03-03 17:56] SergeyKanzhelev commented on #1062
Today `PageView` is mostly used by JS SDK and semantically it indicates the fact of a page visit. We've been even discussed to remove the `duration` from it and today it is in `properties` in JS definition https://github.com/microsoft/ApplicationInsights-JS/blob/c9f43a610ae8a0f2fbd976ef6107c58abf0e3ede/shared/AppInsightsCommon/src/Interfaces/IPageViewTelemetry.ts#L38-L44

PageView also doesn't hav

[2020-03-03 22:06] TimothyMothra commented on #1443
merged. Expect this change to be available in 2.14-beta3. Should be released this or next week.

[2020-03-03 22:06] #1443 closed

[2020-03-04 00:43] TimothyMothra commented on #1707
I got an update last week that a fix for this should be available in mid March.
Will update here as we know more specifics.

[2020-03-04 11:25] pzbyszynski commented on #1334
@cijothomas Can you share the issue link so I can subscribe for notifications?

[2020-03-04 12:42] federicobarera commented on #903
Hi @lmolkova,

two years later and in a different place we are still experiencing the issue.
This time in `Microsoft.ApplicationInsights.AspNetCore@2.12.0`

We might just open a support ticket with Microsoft to look into it

[2020-03-05 00:00] TimothyMothra commented on #1699
I merged a fix for this.
2.14-beta3 should be released within the next week.
2.14 stable will be available in Early April.

[2020-03-05 00:00] #1699 closed

[2020-03-05 00:37] joperezr commented on #1699
@ericstj just as FYI, App Insights team have fixed the issue with referencing old OOB packages that we were talking about.

[2020-03-06 21:08] TheXenocide commented on #1062
Thanks for the details.

We discussed the possibility of this workaround, but we'd rather avoid the technical debt of maintaining it. We previously maintained our own correlation layer because we adopted before the SDK implementation was complete, which has caused a pretty major overhaul when updating to the latest packages migrating to the latest frameworks. We'd rather avoid doing things like th

[2020-03-07 14:54] onovotny commented on #1062
I haven't tried correlating the requests from a PageView, but I agree that it would be useful to have. I also thought about Blazor and that it would probably be useful to have AppInsights working for those apps as well.

For the Desktop scenario, I'm open to any PR's to implement things before they're available in any base SDK.

[2020-03-08 09:04] reft opened #1722 "ILogger arguments rendered as name of the object in custom dimensions"
Microsoft.ApplicationInsights.AspNetCore 2.13.1

It seems like **TYPED** objects are rendered as strings, (name of the object), in custom dimensions when passed as arguments to ilogger.
When not typed, the arguments are rendered correctly as json.

**Register telemetry:**

`services.AddApplicationInsightsTelemetry();`

**Working log:**

    public class HealthController : ControllerBase
    {

[2020-03-09 21:01] SergeyKanzhelev commented on #1062
@ramthi what's your position on the future of `PageView` and `PageViewPerformance`?

I'd say neither will become an operation. Directionally we will move to OpenTelemetry data model where distributed tracing will be represented by Spans and `PageView` will be moving to the "usage" scenarios.

As of data model for messaging patterns - we are thinking of a few possibilities:
- use `sessionId` field

[2020-03-10 14:09] stebet commented on #1606
Closing this issue as this is now possible using the `Microsoft.Data.SqlClient` package and can now be opted into starting with 2.14.

[2020-03-10 14:09] #1606 closed

[2020-03-10 14:10] stebet commented on #1690
This does affect the .NET Framework as well, since the SQL Command can now be collected when using the `Microsoft.Data.SqlClient` package.

[2020-03-10 20:41] pharring commented on #1722
I think you're expecting too much of the logger. It doesn't know about JSON format, it just calls Convert.ToString on properties:

https://github.com/microsoft/ApplicationInsights-dotnet/blob/aee56cd43721bb64fb4e61e1173223471d9a18a7/LOGGING/src/ILogger/ApplicationInsightsLogger.cs#L168

`Convert.ToString` typically calls `ToString()` and the default ToString implementation for new classes is simpl

[2020-03-10 21:07] reft commented on #1722
@pharring I'm currently using a custom ILogger provider which transform the arguments to json, but it seems like application insights doesnt use it. Is there a setting for this or is it not supported? If this worked I wouldn't have to json stringify each argument everytime I would like to log an object.

[2020-03-10 23:33] pharring commented on #1722
No, Application Insights is its own logger provider and isn't extensible.

I think you're expecting too much from the ILogger framework (in general) and Application Insights (in particular). It's up to each provider to serialize events the way expect. For Application Insights, the formatter arguments (an ILogger's concept) are recorded as custom properties (an Application Insights concept) on the

[2020-03-11 08:13] evilpilaf commented on #1678
This looks related to a similar issue I'm having with a .netcore 3.1 web api running in azure app services, The memory slowly builds up through a day maxing out the instances and causing the pools to be recycled, Attached is the memory dump we got from production where we can see that the issue comes from the `AddApplicationInsightsTelemetry()` method.
![appinsights leak](https://user-images.githu

[2020-03-11 08:39] Euphoric opened #1725 "WorkerService configuration not working same as ASP.NET Core configuration"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: 3.1
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): Core 3.1
* Hosting Info (IIS/Azure WebApps/etc): Console/Kestrel
* Platform and OS version: Windows 10

**Steps to reproduce.**
In ASP.NET Core application, when using NuGet `Microsoft.ApplicationInsights

[2020-03-11 11:06] evilpilaf commented on #1270
This looks exactly like the issue I'm facing and describe here
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1678#issuecomment-597498892
Is there any ETA on it?

[2020-03-11 16:43] cijothomas commented on #1725
Is you application a pure console app? Or did you use the Worker project template?
For pure console apps, appsettings.json is not parsed - Did the instrumentation get picked up from the appsettings.json? I'd expect neither ikey nor logger setting would get picked up automatically from appsettings.json in a console application.  In Worker template, the default hostbuilder adds appsettings.json as o

[2020-03-11 16:45] cijothomas commented on #1725
https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#net-corenet-framework-console-application The official docs has console app example, which calls out this limitation.

[2020-03-11 16:48] cijothomas commented on #1270
@evilpilaf This issue is arising from PerformanceCounter.
The other issue and the screenshot share appears from DiagnosticSource related. They are separate problems.

[2020-03-11 17:36] cijothomas commented on #1725
Since this is not a bug, and the known limitation is documented, I'll close this issue.
Please reopen if more information is required.

[2020-03-11 17:36] #1725 closed

[2020-03-11 17:38] cijothomas commented on #1690
I meant "Off by default" is a new behavior for .NET Core. For .NET Framework, it was always "Off by default".

Agree that doc should cover the new way to turn on SQL Text for .NET Framework.

[2020-03-11 19:52] stebet commented on #1690
It's on by default in the .NET Framework if you use the latest release of the Microsoft.Data.SqlClient libs. It's why I submitted #1723

[2020-03-11 21:16] reft commented on #1722
@pharring  I extract the arguments from TState and display it neatly as json for the console log.

    var originalMessage = new KeyValuePair<string, object>();
    foreach (var x in extraFields)
    {
        if (x.Key == "{OriginalFormat}")
        {
            originalMessage = x;
            break;
        }
    }

    if (string.IsNullOrEmpty(originalMessage.Key)) return formattedMessage;

[2020-03-11 23:57] generatives commented on #1418
+1 for something like this

[2020-03-12 07:45] Euphoric commented on #1725
@cijothomas Sorry, but you are wrong. First, I have included code that loads appsettings.json in my console application. Same way as ASP.NET Core is setup :

[code]

Application Insights does then use `IConfiguration `to load it's configuration from provided appsettings.json, as it does load the `InstrumentationKey `from it. Meaning, it does load the key, but doesn't load the logging configuration

[2020-03-12 12:53] drauch commented on #1472
We tried to convert ExceptionTelemetry items to TraceTelemetry items in a telemetry processor, however, that doesn't work because the new TraceTelemetry item does not have a proper context set and is never logged (because it has, e.g., no AppInsightsKey set in the context). Proper initialization of a telemtry item is only done by TelemetryClient.

We found a "hackaround" here https://stackoverflow

[2020-03-12 14:10] cijothomas commented on #1725
Logging is not setup to read logging config from appsettings.json.  Again, its done in worker template/asp.net core, but not in console. You need to manually add it.

https://github.com/aspnet/MetaPackages/blob/f245512f6e68d65309b65528d479f32b34c67718/src/Microsoft.AspNetCore/WebHost.cs#L180

[2020-03-12 16:51] Euphoric commented on #1725
@cijothomas Thank you. I din't realize whole Logging section wasn't loaded from appsettings.json . That one line fixed it.

[2020-03-12 18:16] cijothomas opened #1726 "ConnectionString not read from appsettings.json when using AddApplicationInsightsTelemetry(ApplicationInsightsServiceOptions)"
**Describe your environment.** Describe any aspect of your environment relevant to the problem:
* SDK version: All
* .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): .NET Core
* Hosting Info (IIS/Azure WebApps/etc):
* Platform and OS version:

If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fix

[2020-03-12 22:41] xiaomi7732 opened #1727 "Application Insights Profiler stopped working with MS.AI.AspNetCore 2.14.0-beta3"
.NET Core Web API (2.1) + MS.AI.AspNetCore 2.14.0-beta3 + AI.Profiler from site extension.

* SDK version: 2.14.0-beta3
  * This does **NOT** repro with previous versions of SDK - 2.14.0-beta2 or 2.13.1.
* .NET Core 2.1 LTS, .NET Core 3.1 LTS, target netcoreapp2.1 / 3.1 accordingly.
* Hosted on Azure Web Apps
* Platform and OS version: Windows

Starting with 2.14.0-beta3, the profiler can't get re

[2020-03-12 23:34] xiaomi7732 commented on #1727
Loop in @Dmitry-Matveev for awareness.

[2020-03-13 00:43] cijothomas commented on #1727
https://github.com/microsoft/ApplicationInsights-dotnet/pull/1715/files#diff-532acfbbd4b63e26096cb70d12ef859dR25 The envelope name changed cause this?

This changed json format over wire too.
{"name":"Microsoft.ApplicationInsights.Dev.79a19363f02545b7a3f4b2eb317a4db7.Request",
 - beta2

{"name":"AppRequests", - beta2

[2020-03-13 00:54] Dmitry-Matveev commented on #1727
@cijothomas , yes, we are covering/debugging it offline with @xiaomi7732 , added you to the thread as well.

[2020-03-13 11:18] emilkje commented on #1427
Any updates on this issue? Correlation and activity support is essential if AEG intends to be a general purpose event router both internal and external to the Azure platform.

[2020-03-13 14:29] cobra300 opened #1728 "HeartbeatProvider prevents GC collection"
* .NET runtime version :  .Net Framework 4.7.2
* Hosting Info (IIS/Azure WebApps/etc):  Self-host webapi
* Platform and OS version:  Windows Server 2016

In recent load tests, one of our service consumed ~6GB memory. After analyzing the dump file with PerfView, it shows that HeartbeatProvider spawned lots of System.Threading.Timer:
![2020-03-12 18_11_42-Stacks(5,378,274,000 metric) gcdump in Dump]

[2020-03-13 22:42] SergeyKanzhelev opened #1729 "Minimize effect of one TelemetryChannel on another"
From the issue investigation:

As one may create separate TelemetryChannels to upload telemetry in hope that one of them may be used as more reliable with the way smaller traffic - it doesn't actually work this way. It will be useful to allow creating independent TelemetryChannels. Ideally even `HttpClient` object should not be shared. Couple ideas on how to differenciate channels:

a. Use differe

[2020-03-13 22:47] SergeyKanzhelev opened #1731 "Need to document channel behavior on endpoint timeouts"
Validate timeout response from SDK. Original suspicion was that ingestion service timeouts cause SDK to timeout and retry. We are lacking documentation on what happens on endpoint timeouts.
a.	What’s the default timeout on SDK?
b.	Do we retry on timeout?
c.	Is it a good idea to increase the number of workers to a very big number to prevent timeout-caused delays?

[2020-03-14 15:16] reft commented on #1722
I solved it by creating a middleware, override the name and custom dimensions, and used ToJson extensions on objects.

You can see it here
https://stackoverflow.com/questions/60582917/application-insights-ilogger-arguments-rendered-as-name-of-the-object-in-custo

[2020-03-16 10:38] filoe commented on #1561
+1
Having same issue.